<app-header></app-header>
<!-- start form style 01 section -->
<section class="wow fadeIn request-demo pb-100" id="start-your-project">
  <div class="container">
    <div class="row">
      <div class="col-md-7 enquiry-form-outer-div">
        <div class="demo-form">
          <div class="card">
            <form action="" class="enquiry-form">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="input-container form-group">
                    <input type="text" id="firstname" required="required"/>
                    <label for="FirstName">First Name*</label>
                    <div class="bar"></div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="input-container form-group">
                    <input type="text" id="lastname" required="required"/>
                    <label for="LastName">Last Name*</label>
                    <div class="bar"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-12">
                  <div class="input-container form-group">
                    <input type="text" id="businessemail" required="required"/>
                    <label for="BusinessEmail">Business Email*</label>
                    <div class="bar"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-12">
                  <div class="input-container form-group">
                    <input type="text" id="companyname" required />
                    <label for="CompanyName">Company name </label>
                    <div class="bar"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-12">
                  <div class="input-container form-group">
                    <input type="text" id="phonenumber" required />
                    <label for="phonenumber">Phone Number</label>
                    <div class="bar"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-12">
                  <div class="input-container form-group" style="display: flex;">
                    <input type="checkbox" name=""> By completing this form, I have read and acknowledged the Privacy Policy and agree that Adloid may contact me at the email address or phone number above.*
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-12" align="center">
                  <button class="btn btn-medium btn-rounded btn-transparent-dark-gray wow fadeInUp">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="enquiry-along-content">
          <h1 class="thank-you-adloid">Thank you for your interest in Adloid</h1>
          <h3 class="next-thank-you">We’ll help you sell more with better product visuals.</h3>
          <p class="soon">Talk to you soon.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end form style 01 section -->
<app-footer></app-footer>
