<app-header></app-header>
<!-- start slider section -->
<section class="wow fadeIn example no-padding no-transition one">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li *ngFor="let data of sliders; let i = index" data-target="#demo"
          [attr.data-slide-to]="i" class="{{(i == 0)?'active':''}}"></li>
    </ul>
    <div class="carousel-inner">
      <!-- <div class="carousel-item active">
        <video autoplay="autoplay" loop class="banner-video">
          <source src="assets/videos/VID-20210206-WA0013.mp4" type="video/mp4">
        </video>
        <div class="carousel-caption">
          <h2>Transform Your Audience’s Product Experiences With <br>CX AUTO</h2>
        </div>
      </div> -->
      <div *ngFor="let data of sliders; let i = index;" class="carousel-item {{(i==0)?'active':''}}">
        <span *ngIf="get_url_extension(data?.file) == 'mp4'">
          <video autoplay="autoplay" loop muted class="banner-video" width="100%">
            <source [src]="baseUrl+data?.file" type="video/mp4">
          </video>
        </span>
        <span *ngIf="get_url_extension(data?.file) !== 'mp4'">
          <img [src]="baseUrl+data?.file" alt="Banner 3" style="width:100%;">
        </span>


        <div class="carousel-caption caption-on-banner">

          <a href="{{data?.link}}" class="btn caption-on-banner-button btn-small text-extra-small border-radius-4 margin-30px-top"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i> Know More...</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</section>
<!-- end slider section -->
<!-- start about section -->
<section class="wow fadeIn cover-background md-no-background-img bg-medium-light-gray two" *ngFor="let data of whatwedo; let i = index;"  style="background-image: url('/projects/adloid/assets/images/what-we-do-3.png');">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-6 wow fadeIn">
        <div class="row m-0">
          <div class="col-12 text-center text-lg-left sm-no-padding-lr last-paragraph-no-margin md-margin-30px-bottom">
            <span class="text-medium text-deep-pink alt-font margin-10px-bottom d-inline-block">{{data?.title}}</span>
            <h5 class="alt-font text-extra-dark-gray font-weight-600">{{data?.subtitle}}</h5>
            <p class="width-90 md-width-100 font-17" [innerHTML]="data?.description"></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section -->
<!-- start section -->
<section class="wow fadeIn three">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <!--<div class="alt-font margin-5px-bottom text-uppercase text-small text-medium-gray">Lorem Ipsum</div>-->
        <h5 class="text-uppercase alt-font text-extra-dark-gray margin-20px-bottom font-weight-700 md-width-100">our Products</h5>
        <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-table mx-auto width-100px"></span>
      </div>
    </div>
  </div>
</section>
<section *ngFor="let data of products; let i = index;" class="wow fadeIn {{(0 === i % 2)?'three':'four'}}" >
  <div *ngIf="0 === i % 2" class="container">

    <div class="row align-items-center margin-five-top">
      <div class="col-12 col-lg-5 text-center md-margin-50px-bottom wow fadeInLeft" id="use-case-image">
        <!-- <img src="assets/images/cx-auto-1-1.png" alt="">                     -->
        <video height="300" autoplay="autoplay" loop>
          <source [src]="baseUrl+data?.file" type="video/mp4">
        </video>
      </div>
      <div class="col-12 col-lg-7 wow fadeInRight last-paragraph-no-margin" data-wow-delay="0.2s" id="use-case-text">
        <div class="text-center text-lg-left sm-no-padding w-100">
          <h5 class="font-weight-600 alt-font text-extra-dark-gray">{{data?.name}}</h5>
          <span class="text-deep-pink alt-font margin-10px-bottom md-no-margin-bottom d-inline-block text-medium">{{data?.subheading}}</span>
          <p>{{data?.description}}</p>
          <a href="{{data?.link}}" class="btn btn-dark-gray btn-small text-extra-small border-radius-4 margin-30px-top"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i> Know More...</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="0 !== i % 2" class="container">
    <div class="row align-items-center ">
      <div class="col-12 col-lg-5 wow fadeInRight last-paragraph-no-margin" data-wow-delay="0.2s" id="use-case-text">
        <div class="text-center text-lg-left sm-no-padding w-100">
          <h5 class="font-weight-600 alt-font text-extra-dark-gray"> {{data?.name}}</h5>
          <span class="text-deep-pink alt-font margin-10px-bottom md-no-margin-bottom d-inline-block text-medium">{{data?.subheading}}</span>
          <p>{{data?.description}}</p>
          <a href="{{data?.link}}" class="btn btn-dark-gray btn-small text-extra-small border-radius-4 margin-30px-top"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i> Know More...</a>
        </div>
      </div>
      <div class="col-12 col-lg-7 text-center md-margin-50px-bottom wow fadeInLeft" id="use-case-image">
        <!-- <img src="assets/images/cx-employee.png" alt="">     -->
        <video height="300" autoplay="autoplay" loop>
          <source [src]="baseUrl+data?.file" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>
<!--<section class="wow fadeIn four">-->
<!--  <div class="container">-->
<!--    <div class="row align-items-center ">-->
<!--      <div class="col-12 col-lg-5 wow fadeInRight last-paragraph-no-margin" data-wow-delay="0.2s" id="use-case-text">-->
<!--        <div class="text-center text-lg-left sm-no-padding w-100">-->
<!--          <h5 class="font-weight-600 alt-font text-extra-dark-gray"> EX Employee Experience</h5>-->
<!--          <span class="text-deep-pink alt-font margin-10px-bottom md-no-margin-bottom d-inline-block text-medium">Empower Your Workforce With Experiential Learning</span>-->
<!--          <p>Traditional remote working collaborative tools fail to give an immersive experience to your employees. Switch to Adloid’s EX product that helps users experience a high-quality rendering of your machines, easing their learning curve. Enable them to take apart a machine virtually to understand its mechanism better. Reinvent your training methodologies by creating virtual walkthroughs for your specific processes. Accelerate and automate your training sessions and optimize your business learning investment with our EX product.</p>-->
<!--          <a routerLink="/products#auto-ex" class="btn btn-dark-gray btn-small text-extra-small border-radius-4 margin-30px-top"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i> Know More...</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-12 col-lg-7 text-center md-margin-50px-bottom wow fadeInLeft" id="use-case-image">-->
<!--        &lt;!&ndash; <img src="assets/images/cx-employee.png" alt="">     &ndash;&gt;-->
<!--        <video height="300" autoplay="autoplay" loop>-->
<!--          <source src="assets/videos/explainer-300x300.mp4" type="video/mp4">-->
<!--        </video>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!-- end section -->

<section class="wow fadeIn seven " style="background-color: #f2f2f2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-12 col-lg-12 text-center"  style="background-color: #f2f2f2;">
        <h6 class="font-weight-300 text-extra-dark-gray width-80 mx-auto">We know how curious you are about our products.</h6>
        <a routerLink="/submitdetails" class="btn btn-small btn-dark-gray btn-rounded ml-0">Request for Demo</a>
      </div>
    </div>
  </div>
</section>
<!-- start services section -->
<section class="wow fadeIn padding-50px-top eight no-padding-bottom" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 text-center last-paragraph-no-margin">
        <h5 class="alt-font text-extra-dark-gray .margin-five-top font-weight-600">Using Innovative Technology To Power Your AR Solutions</h5>

      </div>
    </div>
    <div class="row margin-50px-top" *ngFor="let data of arsolutions; let i = index;">
      <!-- start features box item -->
      <div class="col-12 col-lg-4 col-md-6 md-margin-four-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">
        <div class="bg-white border-color-extra-medium-gray border text-center border-radius-4 position-relative h-100 padding-20px-all">
          <div class="d-inline-block margin-20px-bottom"><i class="{{data?.icon}}"></i></div>
          <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">{{data?.iconTitle}}</div>
          <p class="text-justify mx-auto">{{data?.iconDescription}}</p>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col-12 col-lg-4 col-md-6 md-margin-four-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
        <div class="bg-white border-color-extra-medium-gray border text-center border-radius-4 position-relative h-100 padding-20px-all">
          <div class="d-inline-block margin-20px-bottom"><i class="{{data?.icon1}}"></i></div>
          <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">{{data?.iconTitle1}}</div>
          <p class="text-justify mx-auto">{{data?.iconDescription1}}</p>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col-12 col-lg-4 col-md-6 sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
        <div class="bg-white border-color-extra-medium-gray border text-center border-radius-4 position-relative h-100 padding-20px-all">
          <div class="d-inline-block margin-20px-bottom"><i class="{{data?.icon2}}"></i></div>
          <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">{{data?.iconTitle2}}</div>
          <p class="text-justify mx-auto">{{data?.iconDescription2}}</p>
        </div>
      </div>
      <!-- end features box item -->

    </div>
  </div>
</section>
<!-- end services section -->
<!-- start section -->
<section class="wow fadeIn nine no-padding-bottom">
  <div class="container-fluid">
    <!-- <div class="row">
      <h5 class="alt-font text-extra-dark-gray font-weight-600">Technical Content will be here</h5>
    </div> -->
    <div class="row" *ngFor="let data of arsolutions; let i = index;">
      <!-- start features item -->
      <div class="col-12 col-lg-4 p-0 d-flex border-gray background-theme align-items-center position-relative text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">
        <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">
          <!-- <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 1</div> -->
          <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom" style="color: #31434b">{{data?.lastTitle}}</div>
          <p>{{data?.lastDescription}}</p>

        </div>
      </div>
      <!-- end features item -->
      <!-- start features item -->
      <div class="col-12 col-lg-4 p-0 d-flex align-items-center position-relative bg-extra-dark-gray text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">
        <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">
          <!-- <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 2</div> -->
          <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom">{{data?.lastTitle1}}</div>
          <p>{{data?.lastDescription1}}</p>
          <!--<a href="#" class="btn btn-transparent-white btn-small border-radius-4"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Read More</a>-->
        </div>
      </div>
      <!-- end features item -->
      <!-- start features item -->
      <div class="col-12 col-lg-4 p-0 d-flex border-gray background-theme align-items-center position-relative text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">
        <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">
          <!-- <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 3</div> -->
          <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom" style="color: #31434b">{{data?.lastTitle2}}</div>
          <p>{{data?.lastDescription2}}</p>
          <!--<a href="#" class="btn btn-transparent-white btn-small border-radius-4" style="border-color: #31434b;color: #31434b"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Read More</a>-->
        </div>
      </div>
      <!-- end features item -->
    </div>
  </div>
</section>
<!-- end section -->

<!-- start testimonial slider section -->
<section class="bg-light-gray wow fadeIn thirteen padding-50px-top no-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center wow fadeIn">
        <p class="alt-font margin-5px-bottom text-uppercase text-small text-medium-gray">What people say</p>
        <h5 class="text-uppercase alt-font text-extra-dark-gray margin-20px-bottom font-weight-700 md-width-100">Testimonials</h5>
        <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-table mx-auto width-100px"></span>
      </div>
    </div>
    <div class="row position-relative md-margin-70px-top margin-five-top sm-margin-50px-top">
      <div class="swiper-container swiper-pagination-bottom black-move blog-slider swiper-three-slides">
        <div class="swiper-wrapper">
          <!-- start testimonial item -->
          <div class="col-12 col-lg-4 col-md-6 swiper-slide md-margin-four-bottom" *ngFor="let data of testimonials; let i = index;">
            <div class="margin-half-all bg-white box-shadow-light text-center padding-10px-all sm-padding-30px-all testimonial-block">
              <img [src]="baseUrl+data?.file" class="width-40 margin-25px-bottom md-margin-15px-bottom" alt=""/>
              <p class="md-margin-15px-bottom sm-margin-20px-bottom" [innerHTML]="data?.description"></p>
              <span class="text-extra-dark-gray text-small text-uppercase d-block line-height-10 alt-font font-weight-600">{{data?.name}}</span>
              <span class="text-light-gray2 text-extra-small text-uppercase text-medium-gray">{{data?.designation}}</span>
            </div>
          </div>
          <!-- end testimonial item -->

        </div>
        <div class="swiper-pagination swiper-pagination-three-slides h-auto"></div>
      </div>
    </div>
  </div>
</section>
<!-- end testimonial slider section -->
<!-- start latest blog section  -->
<section class="border-top border-color-extra-light-gray wow fadeIn fourteen" style="padding-top: 50px ">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="alt-font margin-5px-bottom text-uppercase text-small text-medium-gray">Lorem Ipsum</p>
        <h5 class="text-uppercase alt-font text-extra-dark-gray margin-10px-top margin-20px-bottom font-weight-700 md-width-100 sm-width-100">Latest Blogs</h5>
        <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-table mx-auto width-100px"></span>
      </div>
    </div>
    <div class="row md-margin-70px-top sm-margin-50px-top margin-50px-top">
      <!-- start blog post item -->
      <div class="col-12 col-lg-3 col-md-6 md-margin-50px-bottom sm-margin-30px-bottom last-paragraph-no-margin wow fadeInUp" *ngFor="let data of blogs; let i = index;">
        <div class="blog-post blog-post-style1 text-center text-md-left">
          <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
            <a href="#">
              <img [src]="baseUrl+data?.file" alt="">
            </a>
          </div>
          <div class="post-details padding-10px-all">
            <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">{{data?.updateddate | date}} | by <a href="#" class="text-link-dark-gray">{{data?.updatedby}}</a></span>
            <a href="#" class="post-title text-medium text-extra-dark-gray width-90 md-width-100 d-block">{{data?.title}}</a>
            <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
            <p class="width-90 sm-width-100" [innerHTML]="data?.description">...</p>
          </div>
        </div>
      </div>
      <!-- end blog post item -->

    </div>
  </div>
</section>
<app-footer></app-footer>
