<div id="wrapper">
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <app-header></app-header>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              <a routerLink="/arsolution/add" class="btn btn-info btn-xs">Add</a>
            </h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>S.No.</th>
                  <th>Icon1</th>
                  <th>Title1</th>
                  <th>Description1</th>
                  <th>Icon2</th>
                  <th>Title2</th>
                  <th>Description2</th>
                  <th>Icon3</th>
                  <th>Title3</th>
                  <th>Description3</th>
                  <th>Next Section Title1</th>
                  <th>Next Section Description1</th>
                  <th>Next Section Title2</th>
                  <th>Next Section Description2</th>
                  <th>Next Section Title3</th>
                  <th>Next Section Description3</th>
                  <th>Status</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of caseStudyLists; let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{data?.icon}}</td>
                  <td>{{data?.iconTitle}}</td>
                  <td>{{data?.iconDescription}}</td>
                  <td>{{data?.icon1}}</td>
                  <td>{{data?.iconTitle1}}</td>
                  <td>{{data?.iconDescription1}}</td>
                  <td>{{data?.icon2}}</td>
                  <td>{{data?.iconTitle2}}</td>
                  <td>{{data?.iconDescription2}}</td>
                  <td>{{data?.lastTitle}}</td>
                  <td>{{data?.lastDescription}}</td>
                  <td>{{data?.lastTitle1}}</td>
                  <td>{{data?.lastDescription1}}</td>
                  <td>{{data?.lastTitle2}}</td>
                  <td>{{data?.lastDescription2}}</td>
                  <td>{{data?.status}}</td>
                  <td>{{data?.createdAt | date}}</td>
                  <td>
                    <a [routerLink]="['/arsolution/add', data?._id]" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="left" title="Edit Activity"><i class="fas fas fa-pencil-alt"></i>
                    </a>
                    <a class="btn btn-danger btn-xs" (click)="onDelete(data?._id)" data-toggle="tooltip" data-placement="left" title="Delete" ><i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>



      </div>
      <!-- /.container-fluid -->




    </div>
    <app-footer></app-footer>
  </div>


</div>
