<app-header></app-header>
<!-- start pricing table style 01 section -->
<section class="sub-pages-banner parallax" style="padding-bottom: 0">
  <div class="pricing-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="about-inline">
            <h3 style="color:#fff">Select The Right Solution To Enhance Your Customer & Employee Experiences</h3>

          </div>
        </div>

      </div>

    </div>
  </div>
</section>
<section class="wow fadeInz" style="padding: 10px 0">
  <div class="container">
    <!-- <div class="row">-->
    <!--    <div class="col-12 text-center margin-100px-bottom md-margin-70px-bottom sm-margin-50px-bottom">-->
    <!--        <p class="alt-font margin-5px-bottom text-uppercase text-medium-gray text-small">Adloid</p>-->
    <!--        <h5 class="text-uppercase alt-font text-extra-dark-red margin-20px-bottom font-weight-700 md-width-100"></h5>-->
    <!--        <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-table mx-auto width-100px"></span>-->
    <!--    </div> -->
    <!--</div>-->

    <div class="pricing-desktop">
      <div class="row">
        <div class="table-responsive">
          <table class="table pricing-table table-bordered">
            <thead>
            <tr class="text-center">
              <th scope="col" class="text-white no-border"></th>
              <th scope="col" class="text-white no-border"></th>
              <th scope="col" class="text-white no-border"></th>
              <th scope="col" class="text-white no-border"></th>
            </tr>
            <tr class="text-center">
              <th scope="col" class="text-white h2 no-border"></th>
              <th scope="col" class="text-white h2 top-heading-pricing-table" style="background-color:#30424a;"
                  *ngFor="let data of pricingLists; let i = index;">
                <span class="small-text">{{data?.title}}</span> <br>
                {{data?.subtitle}}
              </th>
<!--              <th scope="col" class="text-white h2 top-heading-pricing-table" style="background-color:#30424a;"><span class="small-text">Adloid</span><br>Standard</th>-->
<!--              <th scope="col" class="text-white h2 top-heading-pricing-table" style="background-color:#30424a;"><span class="small-text">Adloid</span><br>Pro</th>-->
<!--              <th scope="col" class="text-white h2 top-heading-pricing-table" style="background-color:#30424a;"><span class="small-text">Adloid</span><br>Enterprise</th>-->
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row" class="light-blue-bg">
                <table class="table no-border no-margin no-padding">
                  <tr class="no-border no-margin no-padding">
                    <td class="no-border no-margin no-padding">Price</td>
                    <td class="no-border no-margin no-padding" style="text-align: right">
                      <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="All Subscription fees are manual"></span>
                  </tr>
                </table>
              </th>
              <td scope="row" class="text-center" *ngFor="let data of pricingLists; let i = index;">
                {{data?.price}}
              </td>
<!--              <td class="text-center">Customized</td>-->
<!--              <td class="text-center">Customized</td>-->
<!--              <td class="text-center">Customized</td>-->
            </tr>
            <tr>
              <th scope="row" class="light-blue-bg">
                <table class="table no-border no-margin no-padding">
                  <tr class="no-border no-margin no-padding">
                    <td class="no-border no-margin no-padding">3D Product Configurator</td>
                    <td class="no-border no-margin no-padding" style="text-align: right">
                      <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="An interactive sales tool using 3D models to boost online engagement and sales. Advanced includes parametric configurator, personalization and canvassing, and custom configurators."></span>
                  </tr>
                </table>
              </th>
              <td class="text-center" *ngFor="let data of pricingLists; let i = index;">
                {{data?.prodconf}}
              </td>
<!--              <td class="text-center">Standard</td>-->
<!--              <td class="text-center">Advanced</td>-->
<!--              <td class="text-center">Advanced</td>-->
            </tr>
            <tr>
              <th scope="row" class="light-blue-bg">
                <table class="table no-border no-margin no-padding">
                  <tr class="no-border no-margin no-padding">
                    <td class="no-border no-margin no-padding">Configurator Impressions year</td>
                    <td class="no-border no-margin no-padding" style="text-align: right">
                      <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="One impression occurs when the configurator initially loads on a page load. Any subsequent changes within the configurator do not count as an impression. "></span>
                  </tr>
                </table>
              </th>
              <td class="text-center" *ngFor="let data of pricingLists; let i = index;">{{data?.impressionyear}}</td>
<!--              <td class="text-center">120,000</td>-->
<!--              <td class="text-center">240,000</td>-->
<!--              <td class="text-center">1,200,000</td>-->
            </tr>
            <tr>
              <th scope="row" class="light-blue-bg">
                <table class="table no-border no-margin no-padding">
                  <tr class="no-border no-margin no-padding">
                    <td class="no-border no-margin no-padding">Digital Asset Management</td>
                    <td class="no-border no-margin no-padding" style="text-align: right">
                      <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="Store all catalog items and digital assets in one place. Manage all data, metadata, asset associations and configurations within Adloid."></span>
                  </tr>
                </table>
              </th>
              <td class="text-center" *ngFor="let data of pricingLists; let i = index;">
                <span *ngIf="data?.assetsmanagement == 'yes'">
                  <i class="fa fa-check text-success font-weight-bold" style="font-size: 30px" ></i>
                </span>
                <span *ngIf="data?.assetsmanagement == 'no'">
                  -
                </span>
              </td>
<!--              <td class="text-center"><i class="fa fa-check text-success font-weight-bold" style="font-size: 30px"></i></td>-->
<!--              <td class="text-center"><i class="fa fa-check text-success font-weight-bold" style="font-size: 30px"></i></td>-->
<!--              <td class="text-center"><i class="fa fa-check text-success font-weight-bold" style="font-size: 30px"></i></td>-->
            </tr>
            <tr>
              <th scope="row" class="light-blue-bg">
                <table class="table no-border no-margin no-padding">
                  <tr class="no-border no-margin no-padding">
                    <td class="no-border no-margin no-padding">Augmented Reality</td>
                    <td class="no-border no-margin no-padding" style="text-align: right">
                      <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="Ability to export into an augmented reality format and the ability to view the configured item in the browser without any additional plug-ins or apps. "></span>
                  </tr>
                </table>
              </th>
              <td class="text-center" *ngFor="let data of pricingLists; let i = index;">
                <span *ngIf="data?.augmentedreality == 'yes'">
                  <i class="fa fa-check text-success font-weight-bold" style="font-size: 30px" ></i>
                </span>
                <span *ngIf="data?.augmentedreality == 'no'">
                  -
                </span>
              </td>
<!--              <td class="text-center">-</td>-->
<!--              <td class="text-center">-</td>-->
<!--              <td class="text-center"><i class="fa fa-check text-success font-weight-bold" style="font-size: 30px"></i></td>-->
<!--              <td class="text-center"><i class="fa fa-check text-success font-weight-bold" style="font-size: 30px"></i></td>-->
            </tr>
            <tr class="text-center">
              <th scope="row" class="bg-white no-border"></th>
              <td class="p-0" *ngFor="let data of pricingLists; let i = index;">
                <a href="" class="link-hover4 text-white h5 w-100 d-block py-4 mb-0">Learn More</a>
              </td>
<!--              <td class="p-0"><a href="" class="link-hover1 text-white h5 w-100 d-block py-4 mb-0">Learn More</a></td>-->
<!--              <td class="p-0"><a href="" class="link-hover2 text-white h5 w-100 d-block py-4 mb-0">Learn More</a></td>-->
<!--              <td class="p-0"><a href="" class="link-hover3 text-white h5 w-100 d-block py-4 mb-0">Learn More</a></td>-->
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="pricing-mobile">
      <div class="row">
        <div class="col-12 col-xs-12">
          <!-- first block -->
          <div class="pricing-block-mobile" align="center">
            <div class="block1 link-hover4 text-white h2">
              <span class="small-text">Adloid</span><br>
              Starter
            </div>
            <div class="block-content">
              <h6 class="no-margin">Price</h6>
              <p class="no-margin">All Subscription fees are manual</p>
              <h6 class="no-margin">Starting at $500/month</h6>
              <hr>
              <h6 class="no-margin">3D Product Configurator</h6>
              <p class="no-margin">An interactive sales tool using 3D models to boost online engagement and sales. Advanced includes parametric configurator, personalization and canvassing, and custom configurators.</p>
              <h6 class="no-margin">Standard (one product)</h6>
              <hr>
              <h6 class="no-margin">Configurator Impressions year</h6>
              <p class="no-margin">One impression occurs when the configurator initially loads on a page load. Any subsequent changes within the configurator do not count as an impression. </p>
              <h6 class="no-margin">30,000</h6>
              <hr>
              <h6 class="no-margin">Digital Asset Management</h6>
              <p class="no-margin">Store all catalog items and digital assets in one place. Manage all data, metadata, asset associations and configurations within Adloid.</p>
              <hr>
              <h6 class="no-margin">Augmented Reality</h6>
              <p class="no-margin">Ability to export into an augmented reality format and the ability to view the configured item in the browser without any additional plug-ins or apps. </p>
              <h6 class="no-margin">-</h6>
            </div>
            <div class="block-footer">
              <button class="btn btn-dark-gray btn-small text-extra-small border-radius-4">Learn More</button>
            </div>
          </div>
          <!-- second block -->
          <div class="pricing-block-mobile" align="center">
            <div class="block1 link-hover1 text-white h2">
              <span class="small-text">Adloid</span><br>
              Standard
            </div>
            <div class="block-content">
              <h6 class="no-margin">Price</h6>
              <p class="no-margin">All Subscription fees are manual</p>
              <h6 class="no-margin">Customized</h6>
              <hr>
              <h6 class="no-margin">3D Product Configurator</h6>
              <p class="no-margin">An interactive sales tool using 3D models to boost online engagement and sales. Advanced includes parametric configurator, personalization and canvassing, and custom configurators.</p>
              <h6 class="no-margin">Standard</h6>
              <hr>
              <h6 class="no-margin">Configurator Impressions year</h6>
              <p class="no-margin">One impression occurs when the configurator initially loads on a page load. Any subsequent changes within the configurator do not count as an impression. </p>
              <h6 class="no-margin">120,000</h6>
              <hr>
              <h6 class="no-margin">Digital Asset Management</h6>
              <p class="no-margin">Store all catalog items and digital assets in one place. Manage all data, metadata, asset associations and configurations within Adloid.</p>
              <hr>
              <h6 class="no-margin">Augmented Reality</h6>
              <p class="no-margin">Ability to export into an augmented reality format and the ability to view the configured item in the browser without any additional plug-ins or apps. </p>
              <h6 class="no-margin">-</h6>
            </div>
            <div class="block-footer">
              <button class="btn btn-dark-gray btn-small text-extra-small border-radius-4">Learn More</button>
            </div>
          </div>
          <!-- third block -->
          <div class="pricing-block-mobile" align="center">
            <div class="block1 link-hover2 text-white h2">
              <span class="small-text">Adloid</span><br>
              Pro
            </div>
            <div class="block-content">
              <h6 class="no-margin">Price</h6>
              <p class="no-margin">All Subscription fees are manual</p>
              <h6 class="no-margin">Customized</h6>
              <hr>
              <h6 class="no-margin">3D Product Configurator</h6>
              <p class="no-margin">An interactive sales tool using 3D models to boost online engagement and sales. Advanced includes parametric configurator, personalization and canvassing, and custom configurators.</p>
              <h6 class="no-margin">Advanced</h6>
              <hr>
              <h6 class="no-margin">Configurator Impressions year</h6>
              <p class="no-margin">One impression occurs when the configurator initially loads on a page load. Any subsequent changes within the configurator do not count as an impression. </p>
              <h6 class="no-margin">240,000</h6>
              <hr>
              <h6 class="no-margin">Digital Asset Management</h6>
              <p class="no-margin">Store all catalog items and digital assets in one place. Manage all data, metadata, asset associations and configurations within Adloid.</p>
              <hr>
              <h6 class="no-margin">Augmented Reality</h6>
              <p class="no-margin">Ability to export into an augmented reality format and the ability to view the configured item in the browser without any additional plug-ins or apps. </p>
            </div>
            <div class="block-footer">
              <button class="btn btn-dark-gray btn-small text-extra-small border-radius-4">Learn More</button>
            </div>
          </div>
          <!-- fourth block -->
          <div class="pricing-block-mobile" align="center">
            <div class="block1 link-hover3 text-white h2">
              <span class="small-text">Adloid</span><br>
              Enterprise
            </div>
            <div class="block-content">
              <h6 class="no-margin">Price</h6>
              <p class="no-margin">All Subscription fees are manual</p>
              <h6 class="no-margin">Customized</h6>
              <hr>
              <h6 class="no-margin">3D Product Configurator</h6>
              <p class="no-margin">An interactive sales tool using 3D models to boost online engagement and sales. Advanced includes parametric configurator, personalization and canvassing, and custom configurators.</p>
              <h6 class="no-margin">Advanced</h6>
              <hr>
              <h6 class="no-margin">Configurator Impressions year</h6>
              <p class="no-margin">One impression occurs when the configurator initially loads on a page load. Any subsequent changes within the configurator do not count as an impression. </p>
              <h6 class="no-margin">1,200,000</h6>
              <hr>
              <h6 class="no-margin">Digital Asset Management</h6>
              <p class="no-margin">Store all catalog items and digital assets in one place. Manage all data, metadata, asset associations and configurations within Adloid.</p>
              <hr>
              <h6 class="no-margin">Augmented Reality</h6>
              <p class="no-margin">Ability to export into an augmented reality format and the ability to view the configured item in the browser without any additional plug-ins or apps. </p>
            </div>
            <div class="block-footer">
              <button class="btn btn-dark-gray btn-small text-extra-small border-radius-4">Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end pricing table style 01 section -->
<app-footer></app-footer>
