<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Adloid Admin</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading"></div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse1"
       aria-expanded="true" aria-controls="collapse1">
      <i class="fas fa-fw fa-cog"></i>
      <span>Manage Home</span>
    </a>
    <div id="collapse1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/arsolution/add">Add Ar Solutions</a>
        <a class="collapse-item" routerLink="/arsolution">Ar Solutions</a>
        <a class="collapse-item" routerLink="/blog/add">Add Blog</a>
        <a class="collapse-item" routerLink="/blog">Blogs</a>
        <a class="collapse-item" routerLink="/testimonial/add">Add Testiminial</a>
        <a class="collapse-item" routerLink="/testimonial">Testiminial</a>
        <a class="collapse-item" routerLink="/ourproduct/add">Add Our Product</a>
        <a class="collapse-item" routerLink="/ourproduct">Our Product</a>
        <a class="collapse-item" routerLink="/whatwedo/add">Add What We Do</a>
        <a class="collapse-item" routerLink="/whatwedo">What We Do</a>
        <a class="collapse-item" routerLink="/slider/add">Add Slider</a>
        <a class="collapse-item" routerLink="/slider">Slider</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
       aria-expanded="true" aria-controls="collapseOne">
      <i class="fas fa-fw fa-cog"></i>
      <span>Manage Contact</span>
    </a>
    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/contact/add">Add Contact</a>
        <a class="collapse-item" routerLink="/contact">Contact</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Manage CaseStudy</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/casestudy/add">Add CaseStudy</a>
        <a class="collapse-item" routerLink="/casestudy">CaseStudy</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
       aria-expanded="true" aria-controls="collapseThree">
      <i class="fas fa-fw fa-cog"></i>
      <span>Manage Clients</span>
    </a>
    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/clients/add">Add Client</a>
        <a class="collapse-item" routerLink="/clients">Clients</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour"
       aria-expanded="true" aria-controls="collapseFour">
      <i class="fas fa-fw fa-cog"></i>
      <span>Manage Pricing</span>
    </a>
    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/pricing/add">Add Price</a>
        <a class="collapse-item" routerLink="/pricing">Pricing</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive"
       aria-expanded="true" aria-controls="collapseFive">
      <i class="fas fa-fw fa-cog"></i>
      <span>Manage Products</span>
    </a>
    <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/products/add">Add Product</a>
        <a class="collapse-item" routerLink="/products">Products</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSix"
       aria-expanded="true" aria-controls="collapseSix">
      <i class="fas fa-fw fa-cog"></i>
      <span>Manage Team</span>
    </a>
    <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/team/add">Add Team</a>
        <a class="collapse-item" routerLink="/team">Team</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSeven"
       aria-expanded="true" aria-controls="collapseSeven">
      <i class="fas fa-fw fa-cog"></i>
      <span>Manage Why Join</span>
    </a>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/whyjoin/add">Add Why Join</a>
        <a class="collapse-item" routerLink="/whyjoin">Why Join</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEight"
       aria-expanded="true" aria-controls="collapseEight">
      <i class="fas fa-fw fa-cog"></i>
      <span>Manage Careers</span>
    </a>
    <div id="collapseEight" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/careers/add">Add Careers</a>
        <a class="collapse-item" routerLink="/careers">Careers</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNine"
       aria-expanded="true" aria-controls="collapseNine">
      <i class="fas fa-fw fa-cog"></i>
      <span>Manage Current Openings</span>
    </a>
    <div id="collapseNine" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/openings/add">Add Current Openings</a>
        <a class="collapse-item" routerLink="/openings">Current Openings</a>
      </div>
    </div>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
<!--  <div class="text-center d-none d-md-inline">-->
<!--    <button class="rounded-circle border-0" id="sidebarToggle"></button>-->
<!--  </div>-->
<!--  -->
</ul>
