<div id="wrapper">
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <app-header></app-header>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add Product Data</h6>
          </div>
          <div class="card-body">
            <form class="user" [formGroup]="addActivityForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">

                <div class="col-sm-6 mb-3">
                  <input type="text" class="form-control" placeholder="Title" formControlName="title">
                  <div *ngIf="submitted && !!f.title?.errors">
                    <div *ngIf="!!f.title?.errors.required" class="text-danger">Title is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <textarea class="form-control" placeholder="description" formControlName="description"></textarea>
                  <div *ngIf="submitted && !!f.description?.errors">
                    <div *ngIf="!!f.description?.errors.required" class="text-danger">Description is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <input type="file" class="form-control" formControlName="file" (change)="fileUpload($event)">
                  <div *ngIf="submitted && !!f.file?.errors">
                    <div *ngIf="!!f.file?.errors.required" class="text-danger">file is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <select class="form-control" placeholder="icon" formControlName="icon">
                    <option disabled selected="selected" value="">icon</option>
                    <option value="icon-tools text-white-2 icon-round-small bg-deep-pink">Tool</option>
                    <option value="icon-layers text-white-2 icon-round-small bg-deep-pink">Layer</option>
                    <option value="icon-scissors text-white-2 icon-round-small bg-deep-pink">Scissors</option>
                  </select>
                  <div *ngIf="submitted && !!f.icon?.errors">
                    <div *ngIf="!!f.icon?.errors.required" class="text-danger">icon is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <input type="text" class="form-control" placeholder="iconTitle" formControlName="iconTitle">
                  <div *ngIf="submitted && !!f.iconTitle?.errors">
                    <div *ngIf="!!f.iconTitle?.errors.required" class="text-danger">iconTitle is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <textarea class="form-control" placeholder="iconDescription" formControlName="iconDescription"></textarea>
                  <div *ngIf="submitted && !!f.iconDescription?.errors">
                    <div *ngIf="!!f.iconDescription?.errors.required" class="text-danger">iconDescription is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <select class="form-control" placeholder="icon1" formControlName="icon1">
                    <option disabled selected="selected" value="">icon1</option>
                    <option value="icon-tools text-white-2 icon-round-small bg-deep-pink">Tool</option>
                    <option value="icon-layers text-white-2 icon-round-small bg-deep-pink">Layer</option>
                    <option value="icon-scissors text-white-2 icon-round-small bg-deep-pink">Scissors</option>
                  </select>
                  <div *ngIf="submitted && !!f.icon1?.errors">
                    <div *ngIf="!!f.icon1?.errors.required" class="text-danger">icon1 is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <input type="text" class="form-control" placeholder="iconTitle1" formControlName="iconTitle1">
                  <div *ngIf="submitted && !!f.iconTitle1?.errors">
                    <div *ngIf="!!f.iconTitle1?.errors.required" class="text-danger">iconTitle1 is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <textarea type="text" class="form-control" placeholder="iconDescription1" formControlName="iconDescription1"></textarea>
                  <div *ngIf="submitted && !!f.iconDescription1?.errors">
                    <div *ngIf="!!f.iconDescription1?.errors.required" class="text-danger">iconDescription1 is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <select class="form-control" placeholder="icon2" formControlName="icon2">
                    <option disabled selected="selected" value="">icon2</option>
                    <option value="icon-tools text-white-2 icon-round-small bg-deep-pink">Tool</option>
                    <option value="icon-layers text-white-2 icon-round-small bg-deep-pink">Layer</option>
                    <option value="icon-scissors text-white-2 icon-round-small bg-deep-pink">Scissors</option>
                  </select>
                  <div *ngIf="submitted && !!f.icon2?.errors">
                    <div *ngIf="!!f.icon2?.errors.required" class="text-danger">icon2 is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <input type="text" class="form-control" placeholder="iconTitle2" formControlName="iconTitle2">
                  <div *ngIf="submitted && !!f.iconTitle2?.errors">
                    <div *ngIf="!!f.iconTitle2?.errors.required" class="text-danger">iconTitle2 is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <textarea class="form-control" placeholder="iconDescription2" formControlName="iconDescription2"></textarea>
                  <div *ngIf="submitted && !!f.iconDescription2?.errors">
                    <div *ngIf="!!f.iconDescription2?.errors.required" class="text-danger">iconDescription2 is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <input type="text" class="form-control" placeholder="lastTitle" formControlName="lastTitle">
                  <div *ngIf="submitted && !!f.lastTitle?.errors">
                    <div *ngIf="!!f.lastTitle?.errors.required" class="text-danger">lastTitle is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <textarea class="form-control" placeholder="lastDescription" formControlName="lastDescription"></textarea>
                  <div *ngIf="submitted && !!f.lastDescription?.errors">
                    <div *ngIf="!!f.lastDescription?.errors.required" class="text-danger">lastDescription is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <input type="text" class="form-control" placeholder="lastTitle1" formControlName="lastTitle1">
                  <div *ngIf="submitted && !!f.lastTitle1?.errors">
                    <div *ngIf="!!f.lastTitle1?.errors.required" class="text-danger">lastTitle1 is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <textarea class="form-control" placeholder="lastDescription1" formControlName="lastDescription1"></textarea>
                  <div *ngIf="submitted && !!f.lastDescription1?.errors">
                    <div *ngIf="!!f.lastDescription1?.errors.required" class="text-danger">lastDescription1 is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <input type="text" class="form-control" placeholder="lastTitle2" formControlName="lastTitle2">
                  <div *ngIf="submitted && !!f.lastTitle2?.errors">
                    <div *ngIf="!!f.lastTitle2?.errors.required" class="text-danger">lastTitle2 is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <textarea class="form-control" placeholder="lastDescription2" formControlName="lastDescription2"></textarea>
                  <div *ngIf="submitted && !!f.lastDescription2?.errors">
                    <div *ngIf="!!f.lastDescription2?.errors.required" class="text-danger">lastDescription2 is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <select class="form-control" placeholder="bgColor" formControlName="bgColor">
                    <option disabled selected="selected" value="">bgColor</option>
                    <option value="#ffffff">White</option>
                    <option value="#f7f7f7">Light Gray</option>
                  </select>
                  <div *ngIf="submitted && !!f.bgColor?.errors">
                    <div *ngIf="!!f.bgColor?.errors.required" class="text-danger">bgColor is required</div>
                  </div>
                </div>


              </div>

              <div class="text-center">
                <button class="btn btn-info">Save</button>
              </div>


            </form>
          </div>
        </div>



      </div>
      <!-- /.container-fluid -->




    </div>
    <app-footer></app-footer>
  </div>


</div>
