<app-header></app-header>
<!-- start form style 01 section -->
<section class="wow fadeIn request-demo pb-100" id="start-your-project">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center margin-100px-bottom md-margin-70px-bottom sm-margin-50px-bottom">
        <p class="alt-font margin-5px-bottom text-uppercase text-medium-gray text-small">Career with Adloid</p>
        <h5 class="text-uppercase alt-font text-extra-dark-gray margin-20px-bottom font-weight-700 md-width-100">Apply for Job</h5>
        <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-table mx-auto width-100px"></span>
      </div>
    </div>
    <form id="project-contact-form" action="#" method="post">
      <div class="row">
        <div class="col-12">
          <div id="success-project-contact-form" class="mx-0"></div>
        </div>
        <div class="col-12 col-lg-6">
          <input type="text" name="name" id="name" placeholder="Name *" class="big-input">
        </div>
        <div class="col-12 col-lg-6">
          <input type="text" name="phone" id="phone" placeholder="Phone"  class="big-input">
        </div>
        <div class="col-12 col-lg-6">
          <input type="text" name="email" id="email" placeholder="E-mail *" class="big-input">
        </div>
        <div class="col-12 col-lg-6">
          <div class="select-style big-select">
            <select name="budget" id="budget" class="bg-transparent mb-0">
              <option value="">Select Post</option>
              <option value="$500 - $1000">Job title 1</option>
              <option value="$1000 - $2000">Job title 2</option>
              <option value="$2000 - $5000">Job title 3</option>
            </select>
          </div>
        </div>
        <div class="col-12">
          <textarea name="comment" id="comment" placeholder="Describe your project" rows="6" class="big-textarea"></textarea>
        </div>
        <div class="col-12">
          <input type="file" name="resume" id="resume" placeholder="resume"  class="big-input">
        </div>
        <div class="col-12 text-center">
          <button id="project-contact-us-button" type="submit" class="btn btn-transparent-dark-gray btn-large margin-20px-top">send application</button>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- end form style 01 section -->

<app-footer></app-footer>
