<div id="wrapper">
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <app-header></app-header>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              <a routerLink="/pricing/add" class="btn btn-info btn-xs">Add</a>
            </h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>S.No.</th>
                  <th>Title</th>
                  <th>Sub Title</th>
                  <th>Price</th>
                  <th>3D Product Configurator</th>
                  <th>Configurator Impressions year</th>
                  <th>Digital Asset Management</th>
                  <th>Augmented Reality</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of caseStudyLists; let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{data?.title}}</td>
                  <td>{{data?.subtitle}}</td>
                  <td>{{data?.price}}</td>
                  <td>{{data?.prodconf}}</td>
                  <td>{{data?.impressionyear}}</td>
                  <td>{{data?.assetsmanagement}}</td>
                  <td>{{data?.augmentedreality}}</td>
                  <td>{{data?.createdAt | date}}</td>
                  <td>
                    <a [routerLink]="['/pricing/add', data?._id]" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="left" title="Edit Activity"><i class="fas fas fa-pencil-alt"></i>
                    </a>
                    <a class="btn btn-danger btn-xs" (click)="onDelete(data?._id)" data-toggle="tooltip" data-placement="left" title="Delete" ><i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>



      </div>
      <!-- /.container-fluid -->




    </div>
    <app-footer></app-footer>
  </div>


</div>
