<app-header></app-header>
<section class="sub-pages-banner parallax" style="padding-bottom: 0">
  <div class="pricing-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!--<h5 class="text-uppercase alt-font text-extra-dark-gray font-weight-700 md-width-100">Our Clientele</h5>-->
          <div class="about-inline">
            <h3 style="color:#fff">Get in Touch</h3>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
          </div>
        </div>
        <!-- <div class="col-md-4 image-banner" align="center">
            <img src="images/clients-1.png" alt="" />
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- start contact info -->
<section class="wow fadeIn" style="padding-top: 50px">
  <div class="container px-0">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 col-md-8 margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center last-paragraph-no-margin">
        <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase mb-0">We love to talk</h5>
      </div>
    </div>
    <div class="row">
      <!-- start contact info item -->
      <div class="col-12 col-lg-12 col-md-12 md-margin-eight-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">
        <!-- <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 text-center alt-font margin-5px-bottom">Visit Our Office</div>
        <hr> -->
        <div class="col-md-4" style="display: inline-flex;" *ngFor="let data of contactLists; let i = index;">
          <div class="margin-20px-bottom margin-30px-right">
            <div class="bg-extra-dark-gray icon-round-small"><i class="{{data?.icon}}"></i></div>
          </div>
          <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">{{data?.title}} : {{data?.details}}<br></div>
        </div>
<!--        <div class="col-md-12" style="display: inline-flex;">-->
<!--          <div class="margin-20px-bottom margin-30px-right">-->
<!--            <div class="bg-extra-dark-gray icon-round-small"><i class="icon-map-pin icon-small text-white-2"></i></div>-->
<!--          </div>-->
<!--          <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">India : DLF Forum, 1st Floor, Cyber City,<br>Phase III, Gurugram, Haryana 122002, India<br></div>-->
<!--        </div>-->
      </div>
      <!-- end contact info item -->
<!--      <div class="col-12 col-lg-4 col-md-4 md-margin-eight-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">-->
<!--        <div class="col-md-12" style="display: inline-flex;">-->
<!--          <div class="margin-20px-bottom margin-30px-right">-->
<!--            <div class="bg-extra-dark-gray icon-round-small"><i class="icon-envelope icon-small text-white-2"></i></div>-->
<!--          </div>-->
<!--          <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">General Inquiries : <br><a href="mailto:info@adloid.in">Info@adloid.io</a></div>-->
<!--        </div>-->
<!--        <div class="col-md-12" style="display: inline-flex;">-->
<!--          <div class="margin-20px-bottom margin-30px-right">-->
<!--            <div class="bg-extra-dark-gray icon-round-small"><i class="icon-envelope icon-small text-white-2"></i></div>-->
<!--          </div>-->
<!--          <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Sales & partnership Inquiries : <br><a href="mailto:kanav@adloid.in">shorya@adloid.io</a></div>-->
<!--        </div>-->
<!--      </div>-->
      <!-- start contact info item -->
<!--      <div class="col-12 col-lg-3 col-md-3 md-margin-eight-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">-->
<!--        <div class="col-md-12" style="display: inline-flex;">-->
<!--          <div class="margin-20px-bottom margin-30px-right">-->
<!--            <div class="bg-extra-dark-gray icon-round-small"><i class="icon-chat icon-small text-white-2"></i></div>-->
<!--          </div>-->
<!--          <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Let's Talk : <br>India: <a href="tel:+919717504555">+91 9717504555</a><br>US: <a href="tel:+13024370508">+1 302 4370508</a></div>-->
<!--        </div>-->
<!--      </div>-->
      <!-- end contact info item -->
    </div>
  </div>
</section>
<!-- end contact info section -->

<!-- start contact form -->
<section id="contact" class="wow fadeIn p-0 bg-extra-dark-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 cover-background md-height-450px sm-height-350px wow fadeIn" style="background: url('/projects/adloid/assets/images/homepage-9-parallax-img6.jpg')"></div>
      <div class="col-12 col-lg-6 text-center padding-six-lr padding-five-half-tb md-padding-ten-half-tb md-padding-twelve-half-lr sm-padding-15px-lr wow fadeIn">

        <h5 class="margin-55px-bottom text-white-2 alt-font font-weight-700 text-uppercase sm-margin-ten-bottom">Fill out the form and we'll be in touch soon!</h5>
        <form id="project-contact-form" action="javascript:void(0)" method="post">
          <div class="row">
            <div class="col-12">
              <div id="success-project-contact-form" class="mx-0"></div>
            </div>
            <div class="col-12 col-lg-12">
              <input type="text" name="name" id="name" placeholder="Name *" class="bg-transparent border-color-medium-dark-gray medium-input">
            </div>
            <div class="col-12 col-lg-12">
              <input type="text" name="phone" id="phone" placeholder="Phone" class="bg-transparent border-color-medium-dark-gray medium-input">
            </div>
            <div class="col-12 col-lg-12">
              <input type="text" name="email" id="email" placeholder="E-mail *" class="bg-transparent border-color-medium-dark-gray medium-input">
            </div>
            <!-- <div class="col-12 col-lg-6">
                <div class="select-style bg-transparent border-color-medium-dark-gray medium-select">
                    <select name="budget" id="budget" class="bg-transparent mb-0">
                        <option value="">Select your budget</option>
                        <option value="$500 - $1000">$500 - $1000</option>
                        <option value="$1000 - $2000">$1000 - $2000</option>
                        <option value="$2000 - $5000">$2000 - $5000</option>
                    </select>
                </div>
            </div> -->
            <div class="col-12">
              <textarea name="message" id="message" placeholder="Enter your message.." rows="7" class="bg-transparent border-color-medium-dark-gray medium-textarea"></textarea>
            </div>
            <div class="col-12 text-center">
              <button id="project-contact-us-button" type="submit" class="btn btn-deep-pink btn-medium margin-15px-top">Send message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- end contact form -->

<!-- start map section -->
<section class="p-0 one-second-screen md-height-400px wow fadeIn">
  <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.424781690959!2d77.08982511455649!3d28.496864896960208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19481be1e817%3A0xc7ed93c0b9098548!2sEricsson%20Building%2C%20DLF%20Cybercity%2C%20Sector%2025%2C%2C%20DLF%20Cyber%20City%2C%20DLF%20Phase%202%2C%20DLF%20Cyber%20Green%2C%20Gurugram%2C%20Haryana%20122002!5e0!3m2!1sen!2sin!4v1608806218971!5m2!1sen!2sin"></iframe>
</section>
<!-- end map section -->
<app-footer></app-footer>
