<app-header></app-header>
<section class="sub-pages-banner parallax" style="padding-bottom: 20px">
  <div class="pricing-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="about-inline">
            <h3 style="color:#fff">Harnessing The Power Of AR To Bring Brands To Life</h3>

          </div>
        </div>

      </div>

    </div>
  </div>
</section>
<section id="blog" class="bg-light-gray blog-post-style5 wow fadeIn" style="padding: 10px 0">
  <div class="container">
    <div class="row">
      <div class="col-12 px-3 p-md-0">
        <ul class="blog-grid blog-4col gutter-large">
          <li class="grid-sizer"></li>
          <!-- start post item -->
          <li class="grid-item wow fadeInUp last-paragraph-no-margin" *ngFor="let data of caseStudyLists; let i = index;" >
            <div class="blog-post">

              <div class="post-details case-study-block padding-5px-all bg-white md-padding-10px-all">
                <div class="blog-hover-color"></div>
                <a href="#" class="alt-font post-title text-medium text-extra-dark-gray  d-block lg-width-100 margin-5px-bottom padding-10px-all">{{data?.title}}</a>

                <div class="separator-line-horrizontal-full bg-medium-gray  lg-margin-four-tb"></div>
                <p class="padding-10px-all">{{data?.details}}</p>
              </div>
            </div>
          </li>
          <!-- end post item -->
          <!-- start post item -->
<!--          <li class="grid-item wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">-->
<!--            <div class="blog-post">-->

<!--              <div class="post-details case-study-block  padding-5px-all bg-white md-padding-20px-all">-->
<!--                <div class="blog-hover-color"></div>-->
<!--                <a href="javascript:void(0)" class="alt-font post-title text-medium text-extra-dark-gray  d-block lg-width-100 margin-5px-bottom padding-10px-all">25.36% add to cart rate post AR implementation compared to an average 10.9% without AR</a>-->

<!--                <div class="separator-line-horrizontal-full bg-medium-gray  lg-margin-four-tb"></div>-->
<!--                <p class="padding-10px-all">AR allows customers to have better conviction in their online purchases. Adloid has digitized close to 1 lakh SKU’s and has improved conversions for its customers from 10% to 25%. Adloid’s AR brings the item to life in a way that is more real than any picture or video. This increase in add to cart rate implies that customers are better persuaded to buy a product after trying in AR. </p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </li>-->
          <!-- end post item -->
          <!-- start post item -->
<!--          <li class="grid-item wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">-->
<!--            <div class="blog-post">-->

<!--              <div class="post-details case-study-block  padding-5px-all bg-white md-padding-10px-all">-->
<!--                <div class="blog-hover-color"></div>-->
<!--                <a href="javascript:void(0)" class="alt-font post-title text-medium text-extra-dark-gray  d-block lg-width-100 margin-5px-bottom padding-10px-all">246 seconds average AR experience length compared to less than 20 seconds without AR</a>-->

<!--                <div class="separator-line-horrizontal-full bg-medium-gray  lg-margin-four-tb"></div>-->
<!--                <p class="padding-10px-all">Adloid’s AR technology can drastically improve the time the customer spends experiencing a product. On average a customer browses 6 products in 2 minutes, with Adloid’s AR we find that the average session length is close to 4.1 minutes. The higher the time customer interacts with a product in AR the higher the likelihood of purchase.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </li>-->
          <!-- end post item -->
          <!-- start post item -->
<!--          <li class="grid-item wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">-->
<!--            <div class="blog-post">-->

<!--              <div class="post-details case-study-block  padding-5px-all bg-white md-padding-20px-all">-->
<!--                <div class="blog-hover-color"></div>-->
<!--                <a href="javascript:void(0)" class="alt-font post-title text-medium text-extra-dark-gray  d-block lg-width-100 margin-5px-bottom padding-10px-all">17.56% drop in product returns on implementing AR</a>-->

<!--                <div class="separator-line-horrizontal-full bg-medium-gray  lg-margin-four-tb"></div>-->
<!--                <p class="padding-10px-all">Adloid’s AR experience ensures that the customer is completely convinced and satisfied with the product before purchasing. This ensures that the returns are 18% lower. This enables brands to optimize costs and efforts in their operations. Higher returns is a bigger problem for ecommerce players compared to brick and mortar companies. With Adloid’s AR brands and companies can achieve higher operational efficiencies. </p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </li>-->
          <!-- end post item -->
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-12 col-md-12 text-center" align="center">
        <a routerLink="/submitdetails" class="btn btn-medium btn-rounded btn-transparent-dark-gray wow fadeInUp" data-wow-delay="0.5s">Request for Demo <i class="ti-arrow-right"></i></a>
      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>
