<div id="wrapper">
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <app-header></app-header>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add Careers Data</h6>
          </div>
          <div class="card-body">
            <form class="user" [formGroup]="addActivityForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">

                <div class="col-sm-6 mb-3">
                  <input type="text" class="form-control" placeholder="Title" formControlName="title">
                  <div *ngIf="submitted && !!f.title?.errors">
                    <div *ngIf="!!f.title?.errors.required" class="text-danger">Title is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <textarea class="form-control" placeholder="description" formControlName="description"></textarea>
                  <div *ngIf="submitted && !!f.description?.errors">
                    <div *ngIf="!!f.description?.errors.required" class="text-danger">description is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <input type="file" class="form-control" formControlName="file" (change)="fileUpload($event)">
                  <div *ngIf="submitted && !!f.file?.errors">
                    <div *ngIf="!!f.file?.errors.required" class="text-danger">file is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <input type="file" class="form-control" formControlName="file1" (change)="fileUpload1($event)">
                  <div *ngIf="submitted && !!f.file1?.errors">
                    <div *ngIf="!!f.file1?.errors.required" class="text-danger">file1 is required</div>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button class="btn btn-info">Save</button>
              </div>


            </form>
          </div>
        </div>



      </div>
      <!-- /.container-fluid -->




    </div>
    <app-footer></app-footer>
  </div>


</div>
