<app-header></app-header>
<section class="sub-pages-banner parallax" style="padding-bottom: 10px">
  <div class="pricing-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="about-inline">
            <h3 style="color:#fff">Do you have a passion for AR & immersive technologies?</h3>

          </div>
        </div>

      </div>

    </div>
  </div>
</section>
<!-- start section -->
<section class="wow fadeIn" style="padding: 10px 0">
  <div class="container">
    <div class="row" *ngFor="let data of careers; let i = index;">
      <div class="col-12 col-lg-4 text-center text-lg-left md-margin-30px-bottom md-padding-80px-lr sm-padding-15px-lr wow fadeIn">
        <h6 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase width-80 lg-width-100">{{data?.title}}</h6>
        <div class="separator-line-verticle-extra-small bg-extra-dark-gray width-50 md-width-70 mx-auto ml-lg-0 margin-30px-bottom md-margin-20px-bottom"></div>
        <p class="width-95 lg-width-100" style="text-align:justify">{{data?.description}}</p>
      </div>
      <div class="col-12 col-lg-4 col-md-6 sm-margin-15px-bottom wow fadeIn" align="center" data-wow-delay="0.2s">
        <img [src]="baseUrl+data?.file" alt="" style="height: 280px">
      </div>
      <div class="col-12 col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.4s" align="center">
        <img [src]="baseUrl+data?.file1" alt="" style="height: 280px">
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!-- start team -->
<section class="wow fadeIn bg-light-gray pb-100">
  <div class="container-fluid padding-seventeen-lr lg-padding-ten-lr sm-padding-15px-lr">
    <div class="row">
      <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase width-80 lg-width-100 padding-15px-left">Our Team</h5>
      <!-- start team item -->
      <div class="col-12 col-lg-3 col-md-6 team-block text-left team-style-1 margin-40px-bottom sm-margin-30px-bottom wow fadeInRight" data-wow-delay="0.2s" align="center" *ngFor="let data of teams; let i = index;">
        <figure>
          <div class="team-image sm-width-100" align="center" >
            <img [src]="baseUrl+data?.file" alt="{{data?.name}}">
            <div class="overlay-content text-center d-flex align-items-end justify-content-center">
              <div class="icon-social-small padding-five-all width-100">
                <span class="text-white-2 text-small d-inline-block m-0">{{data?.description}}</span>
                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>

                <a href="{{data?.linkedin}}" class="text-white-2" target="_blank"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">{{data?.name}}</div>
              <div class="text-small text-uppercase text-medium-gray text-uppercase text-white-2 inline-block m-0">{{data?.designation}}</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- end team item -->
    </div>
  </div>
</section>
<!-- end team section -->


<!-- start feature box section -->
<section class="p-0 wow fadeIn ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 cover-background md-height-500px sm-height-350px wow fadeInLeft" style="background-image:url('/projects/adloid/assets/images/about-img7.jpg');"><div class="h-sm-400px"></div></div>
      <div class="col-12 col-lg-6 padding-six-half-lr lg-padding-eight-lr md-padding-30px-lr padding-five-tb md-padding-nine-half-tb sm-padding-15px-lr sm-padding-50px-tb wow fadeInRight">
        <h5 class="alt-font text-extra-dark-gray margin-seven-half-bottom lg-margin-ten-half-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center text-lg-left md-width-70 mx-auto mx-lg-0 sm-width-100 text-uppercase font-weight-700">Why Join Adloid</h5>
        <div class="row text-center text-md-left">
          <!-- start feature box item-->
          <div class="col-12 col-xl-6 col-lg-12 col-md-6 margin-six-bottom lg-no-padding-right lg-margin-30px-bottom sm-margin-30px-bottom sm-padding-15px-right last-paragraph-no-margin" *ngFor="let data of whyJoin; let i = index;">
            <div class="text-extra-dark-gray margin-10px-bottom alt-font"><span class="text-deep-pink margin-10px-right d-block d-md-inline-block sm-no-margin">0{{i+1}}.</span>{{data?.question}}</div>
            <p class="width-90 sm-width-100">{{data?.answer}}</p>
          </div>
          <!-- end feature box item-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end feature box section -->

<!-- end section -->
<!-- start accordions style 01 section -->
<section class="wow fadeIn pb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
        <div class="position-relative overflow-hidden w-100">
          <span class="text-large text-outside-line-full alt-font font-weight-600 text-uppercase">Current Openings</span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <!-- start accordion -->
        <div class="panel-group accordion-style1" id="accordion-design">
          <!-- start accordion item -->
          <div class="panel" *ngFor="let data of openings; let i = index;">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion-design" href="#design{{i+1}}" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-extra-dark-gray text-uppercase">Job #{{data?.jobid}}: {{data?.title}}<span class="float-right"><i class="ti-minus"></i></span></div></a>
            </div>
            <div id="design{{i+1}}" class="panel-collapse collapse {{(i==0?'show':'')}}" data-parent="#accordion-design" aria-expanded="false" role="tablist">
              <div class="panel-body">
                {{data?.description}}
                <a routerLink="/applyjob" class="btn btn-very-small btn-rounded btn-transparent-dark-gray fadeInDown float-right">Apply for Post</a>
              </div>
            </div>
          </div>
          <!-- end accordion item -->


        </div>
        <!-- end accordion -->
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
