<!-- start footer -->
<footer class="footer-classic-dark footer-bg-img bg-extra-dark-gray padding-five-bottom sm-padding-30px-bottom">
  <div class="footer-widget-area padding-five-top padding-30px-bottom sm-padding-30px-top">
    <div class="container">
      <div class="row">
        <!-- start about -->
        <div class="col-lg-3 col-md-6 widget md-margin-30px-bottom text-center text-md-left last-paragraph-no-margin">
          <div class="widget-title alt-font text-small text-uppercase margin-15px-bottom font-weight-600 footer-heading">About Adloid</div>
          <p class="text-small width-95 sm-width-100 footer-text">ADLOID is an augmented reality company. Our vision is to make virtual living a reality. We help brands solve the problem of creating personalized experiences for their customers across automobile, lifestyle, and home decor. Our goal is to change the ways people experience products.</p>
        </div>
        <!-- end about -->
        <!-- start blog post -->
        <div class="col-lg-3 col-md-6 widget md-margin-30px-bottom">
          <div class="widget-title alt-font text-small text-uppercase margin-15px-bottom font-weight-600 text-center text-md-left footer-heading">Latest Blog Post</div>
          <ul class="latest-post position-relative">
            <li class="media border-bottom border-color-medium-dark-gray">
              <figure>
                <a href="#"><img src="assets/images/latest-blog2.jpg" alt=""></a>
              </figure>
              <div class="media-body text-small footer-text"><a href="#" class="d-block mb-1 footer-text">Donec ut varius nunc. Integer ac auctor neque...</a> <span class="clearfix"></span>20 April 2017 | by <a href="#">Herman Miller</a></div>
            </li>
            <li class="media border-bottom border-color-medium-dark-gray">
              <figure>
                <a href="#"><img src="assets/images/latest-blog3.jpg" alt=""></a>
              </figure>
              <div class="media-body text-small footer-text"><a href="#" class="d-block mb-1 footer-text">Donec ut varius nunc. Integer ac auctor neque...</a> <span class="clearfix"></span>20 April 2017 | by <a href="#">Herman Miller</a></div>
            </li>
            <li class="media">
              <figure>
                <a href="#"><img src="assets/images/latest-blog4.jpg" alt=""></a>
              </figure>
              <div class="media-body text-small footer-text"><a href="#" class="d-block mb-1 footer-text">Donec ut varius nunc. Integer ac auctor neque...</a> <span class="clearfix"></span>20 April 2017 | by <a href="#">Herman Miller</a></div>
            </li>
          </ul>
        </div>
        <!-- end blog post -->
        <!-- start newsletter -->
        <div class="col-lg-3 col-md-6 widget md-margin-30px-bottom text-center text-md-left">
          <div class="widget-title alt-font text-small text-uppercase margin-15px-bottom font-weight-600 footer-heading">SUBSCRIBE TO OUR NEWSLETTER</div>
          <p class="text-small width-90 sm-width-100 footer-text">Do you want to know about the latest news in the world of AR and immersive technology? Sign up to receive our newsletter.</p>
          <form id="subscribenewsletterform" action="javascript:void(0)" method="post">
            <div class="position-relative newsletter width-95">
              <div id="success-subscribe-newsletter" class="mx-0"></div>
              <input type="text" id="email" name="email" class="bg-transparent text-small m-0 border-color-medium-dark-gray" placeholder="Enter your email...">
              <button id="button-subscribe-newsletter" type="submit" class="btn btn-arrow-small position-absolute border-color-medium-dark-gray"><i class="fas fa-caret-right no-margin-left"></i></button>
            </div>
          </form>
        </div>
        <!-- end newsletter -->
        <!-- start instagram -->
        <div class="col-lg-3 col-md-6 widget md-margin-5px-bottom text-center text-md-left">
          <div class="widget-title alt-font m-gray text-uppercase margin-20px-bottom font-weight-600 footer-heading">Follow us on Instagram</div>
          <div class="widget-title alt-font m-gray text-uppercase margin-20px-bottom font-weight-600 footer-heading">Follow us on Facebook</div>
          <div class="widget-title alt-font m-gray text-uppercase margin-20px-bottom font-weight-600 footer-heading">Follow us on Twitter</div>
          <div class="instagram-follow-api">
            <ul id="instaFeed-footer"></ul>
          </div>
        </div>
        <!-- end instagram -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-bottom border-top border-color-medium-dark-gray padding-30px-top">
      <div class="row">
        <!-- start copyright -->
        <div class="col-lg-12 col-md-12 text-small text-center">2021 All rights reserved</div>
        <!-- end copyright -->
      </div>
    </div>
  </div>
</footer>

<!-- start scroll to top -->
<a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
<!-- end scroll to top  -->
