<!-- start header -->
<header>
  <!-- start navigation -->
  <nav class="navbar navbar-default bootsnav navbar-top header-light background-transparent white-link navbar-expand-lg">
    <div class="container nav-header-container">
      <!-- start logo -->
      <div class="col-auto pl-lg-0">
        <a routerLink="/" title="Adloid" class="logo">
          <img src="assets/images/logo.png" data-rjs="images/logo.png" class="logo-dark" alt="Adloid">
          <img src="assets/images/logo.png" data-rjs="images/logo.png" alt="Adloid" class="logo-light default">
        </a>
      </div>
      <!-- end logo -->
      <div class="col accordion-menu pr-md-3">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
          <span class="sr-only">toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="navbar-collapse-toggle-1">
          <ul id="accordion" class="nav navbar-nav no-margin alt-font text-normal">
            <!-- start menu item -->
            <li class="dropdown megamenu-fw">
              <a routerLink="/">Home</a>
            </li>
            <!-- end menu item -->
            <!--<li class="dropdown simple-dropdown"><a href="#">Products</a>-->
            <!--</li>-->
            <!---->
            <li class="dropdown simple-dropdown"><a routerLink="/products">Products</a>
              <i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
              <!-- start sub menu -->
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Digi Showroom </a>
                </li>
              </ul>
            </li>

            <!--  <li class="dropdown simple-dropdown"><a href="product.html">Products</a>
                 <i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                 <ul class="dropdown-menu" role="menu" style="top: 65px !important">
                     <li class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Digi Showroom </a>
                     </li>
                 </ul>
             </li> -->
            <!---->
            <li class="dropdown megamenu-fw">
              <a routerLink="/clients">Clients</a>
            </li>
            <li class="dropdown simple-dropdown"><a routerLink="/pricing" title="Pricing">Pricing</a>
            </li>
            <li class="dropdown megamenu-fw">
              <a routerLink="/careers">Careers</a>
            </li>
            <li class="dropdown megamenu-fw">
              <a routerLink="/casestudy">Case Studies</a>
            </li>
            <li class="dropdown megamenu-fw">
              <a routerLink="/contactus">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- end navigation -->
</header>
<!-- end header -->
