<app-header></app-header>
<section class="sub-pages-banner parallax" style="padding-bottom: 0">
  <div class="pricing-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!--<h5 class="text-uppercase alt-font text-extra-dark-gray font-weight-700 md-width-100">Our Clientele</h5>-->
          <div class="about-inline">
            <h3 style="color:#fff">Creating Breathtaking Immersive Experiences For Top Global Brands</h3>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
          </div>
        </div>
        <!-- <div class="col-md-4 image-banner" align="center">
            <img src="images/clients-1.png" alt="" />
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- start clients style 03 -->

<!-- end clients style 03 -->
<!-- client carousel style 1 -->
<section class="wow fadeIn">
  <div class="container">
    <div class="row">
      <div class="swiper-slider-clients swiper-container black-move wow fadeIn">
        <div class="swiper-wrapper">
          <div class="swiper-slide text-center" *ngFor="let data of clientsLists; let i = index;">
            <img [src]="baseUrl+data?.file" alt="{{data?.title}}" class="img-responsive" >
          </div>
<!--          <div class="swiper-slide text-center"><img src="assets/images/cl-tata.png" alt=""></div>-->
<!--          <div class="swiper-slide text-center"><img src="assets/images/cl-tanishq.png" alt=""></div>-->
<!--          <div class="swiper-slide text-center"><img src="assets/images/cl-orient.png" alt=""></div>-->
<!--          <div class="swiper-slide text-center"><img src="assets/images/cl-bjain.png" alt=""></div>-->
<!--          <div class="swiper-slide text-center"><img src="assets/images/cl-ikea.png" alt=""></div>-->
<!--          <div class="swiper-slide text-center"><img src="assets/images/cl-cardekho.png" alt=""></div>-->
<!--          <div class="swiper-slide text-center"><img src="assets/images/hero.png" alt=""></div>-->
<!--          <div class="swiper-slide text-center"><img src="assets/images/titan-vector-logo.png" alt=""></div>-->
<!--          <div class="swiper-slide text-center"><img src="assets/images/toyota.png" alt=""></div>-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- client carousel style 1 end-->

<!-- start testimonial slider style 01 section -->
<section class="wow fadeInwow fadeIn parallax" data-stellar-background-ratio="0.4" style="background-image:url('/projects/adloid/assets/images/parallax-bg4.jpg');">
  <div class="opacity-full bg-extra-dark-gray"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
        <div class="position-relative overflow-hidden w-100">
          <span class="text-outside-line-full alt-font text-uppercase" style="color: #fff;font-size:25px">Testimonials</span>
          <!-- <h3 style="color: #fff">Testimonials</h3> -->
        </div>
      </div>
    </div>
    <div class="row position-relative">
      <div class="swiper-container swiper-pagination-bottom black-move blog-slider swiper-three-slides">
        <div class="swiper-wrapper">
          <!-- start testimonial item -->
          <div class="col-12 col-lg-4 col-md-6 swiper-slide md-margin-four-bottom" *ngFor="let data of testimonials; let i = index;">
            <div class="margin-half-all bg-white box-shadow-light text-center padding-10px-all sm-padding-30px-all testimonial-block">
              <img [src]="baseUrl+data?.file" alt=""/>
              <p class="md-margin-15px-bottom sm-margin-20px-bottom">[innerHTML]="data?.description"</p>
              <span class="text-extra-dark-gray text-small text-uppercase d-block line-height-10 alt-font font-weight-600">{{data?.name}}</span>
              <span class="text-light-gray2 text-extra-small text-uppercase text-medium-gray">{{data?.designation}}</span>
            </div>
          </div>
          <!-- end testimonial item -->

        </div>
        <div class="swiper-pagination swiper-pagination-three-slides h-auto"></div>
      </div>
    </div>
  </div>
</section>
<!-- end testimonial slider style 01 section -->
<section class="wow fadeIn" style="padding: 20px 0; background-color: rgb(242, 242, 242); visibility: visible; animation-name: fadeIn;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-12 col-lg-12 text-center">
        <h6 class="font-weight-300 text-extra-dark-gray width-80 mx-auto">We know how curious you are about our products.</h6>
        <a routerLink="/submitdetails" class="btn btn-small btn-dark-gray btn-rounded ml-0">Request for Demo</a>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
