<div id="wrapper">
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <app-header></app-header>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add Pricing Data</h6>
          </div>
          <div class="card-body">
            <form class="user" [formGroup]="addActivityForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">

                <div class="col-sm-6 mb-3">
                  <input type="text" class="form-control" placeholder="Title" formControlName="title">
                  <div *ngIf="submitted && !!f.title?.errors">
                    <div *ngIf="!!f.title?.errors.required" class="text-danger">Title is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <input type="text" class="form-control" placeholder="SubTitle" formControlName="subtitle">
                  <div *ngIf="submitted && !!f.subtitle?.errors">
                    <div *ngIf="!!f.subtitle?.errors.required" class="text-danger">SubTitle is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <input type="text" class="form-control" placeholder="Price" formControlName="price">
                  <div *ngIf="submitted && !!f.price?.errors">
                    <div *ngIf="!!f.price?.errors.required" class="text-danger">Price is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <input type="text" class="form-control" placeholder="3D Product Configurator" formControlName="prodconf">
                  <div *ngIf="submitted && !!f.prodconf?.errors">
                    <div *ngIf="!!f.prodconf?.errors.required" class="text-danger">3D Product Configurator is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <input type="text" class="form-control" placeholder="Configurator Impressions year" formControlName="impressionyear">
                  <div *ngIf="submitted && !!f.impressionyear?.errors">
                    <div *ngIf="!!f.impressionyear?.errors.required" class="text-danger">Configurator Impressions year is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <select class="form-control" placeholder="Digital Asset Management" formControlName="assetsmanagement">
                    <option disabled selected="selected" value="">Digital Asset Management</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                  <div *ngIf="submitted && !!f.assetsmanagement?.errors">
                    <div *ngIf="!!f.assetsmanagement?.errors.required" class="text-danger">Digital Asset Management is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <select class="form-control" placeholder="Augmented Reality" formControlName="augmentedreality">
                    <option disabled selected="selected" value="">Augmented Reality</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                  <div *ngIf="submitted && !!f.augmentedreality?.errors">
                    <div *ngIf="!!f.augmentedreality?.errors.required" class="text-danger">Augmented Reality is required</div>
                  </div>
                </div>

              </div>

              <div class="text-center">
                <button class="btn btn-info">Save</button>
              </div>


            </form>
          </div>
        </div>



      </div>
      <!-- /.container-fluid -->




    </div>
    <app-footer></app-footer>
  </div>


</div>
