<app-header></app-header>
<!-- start about product section -->
<section class="wow fadeIn p-0 bg-light-gray top-space no-padding-bottom" id="cx-auto" *ngFor="let data of products">
  <div class="container-fluid">
    <div class="row" >
<!--      <div class="col-12 col-lg-8  cover-background md-height-500px sm-height-300px" style="background:url('/projects/adloid/assets/images/2021_Mazda_CX-3_1.jpg')">-->
<!--        -->
<!--      </div>-->
      <div class="col-12 col-lg-8  cover-background md-height-700px sm-height-300px">
        <span *ngIf="get_url_extension(data?.file) == 'mp4'">
          <video autoplay muted loop id="myVideo">
          <source [src]="baseUrl+data?.file" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        </span>
        <span *ngIf="get_url_extension(data?.file) !== 'mp4'">
          <img [src]="baseUrl+data?.file" class="card-img">
        </span>

      </div>
      <div class="col-12 col-lg-4 ">
        <div class="padding-10px-all lg-padding-40px-lr md-padding-50px-tb sm-padding-30px-all">
          <!-- <img src="images/single-project-03-img2.jpg" class="margin-30px-bottom" alt=""/> -->
          <h3 class="alt-font text-extra-dark-gray font-weight-600 mb-0">{{data?.title}}</h3>
          <div class="bg-deep-pink separator-line-horrizontal-full d-inline-block margin-25px-tb"></div>
          <p class="width-90 width-100 margin-35px-bottom text-medium line-height-28">{{data?.description}}</p>

        </div>
      </div>
    </div>
  </div>
  <section class="wow fadeIn padding-50px-top eight">
    <div class="container">

      <div class="row margin-50px-top">
        <!-- start features box item -->
        <div class="col-12 col-lg-4 col-md-6 md-margin-four-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">
          <div class="bg-white border-color-extra-medium-gray border text-center  border-radius-4 position-relative h-100 padding-20px-all">
            <div class="d-inline-block margin-20px-bottom"><i class="{{data?.icon}}"></i></div>
            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">
              {{data?.iconTitle}}</div>
            <p class=" text-justify mx-auto">{{data?.iconDescription}}</p>
          </div>
        </div>
        <!-- end features box item -->
        <!-- start features box item -->
        <div class="col-12 col-lg-4 col-md-6 md-margin-four-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
          <div class="bg-white border-color-extra-medium-gray border text-center  border-radius-4 position-relative h-100 padding-20px-all">
            <div class="d-inline-block margin-20px-bottom"><i class="{{data?.icon1}}"></i></div>
            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">{{data?.iconTitle1}}</div>
            <p class=" text-justify mx-auto">{{data?.iconDescription1}}</p>
          </div>
        </div>
        <!-- end features box item -->
        <!-- start features box item -->
        <div class="col-12 col-lg-4 col-md-6 sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
          <div class="bg-white border-color-extra-medium-gray border text-center  border-radius-4 position-relative h-100 padding-20px-all">
            <div class="d-inline-block margin-20px-bottom"><i class="{{data?.icon2}}"></i></div>
            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">{{data?.iconTitle2}}</div>
            <p class=" text-justify mx-auto">{{data?.iconDescription2}}</p>
          </div>
        </div>
        <!-- end features box item -->

      </div>
    </div>
  </section>
  <section class="wow fadeIn nine padding-50px-top no-padding-bottom">
    <div class="container-fluid">
      <!-- <div class="row">
        <h5 class="alt-font text-extra-dark-gray font-weight-600">Technical Content will be here</h5>
      </div> -->
      <div class="row">
        <!-- start features item -->
        <div class="col-12 col-lg-4  d-flex border-gray background-theme  position-relative text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">
          <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">
            <!-- <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 1</div> -->
            <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom" style="color: #31434b">
              {{data?.lastTitle}}</div>
            <p>{{data?.lastDescription}}</p>
            <!-- <a href="#" class="btn btn-transparent-white btn-small border-radius-4" style="border-color: #31434b;color: #31434b"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Read More</a> -->
          </div>
        </div>
        <!-- end features item -->
        <!-- start features item -->
        <div class="col-12 col-lg-4  d-flex  position-relative bg-extra-dark-gray text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">
          <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">
            <!-- <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 2</div> -->
            <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom">{{data?.lastTitle1}}</div>
            <p>{{data?.lastDescription1}}</p>
            <!-- <a href="#" class="btn btn-transparent-white btn-small border-radius-4"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Read More</a> -->
          </div>
        </div>
        <!-- end features item -->
        <!-- start features item -->
        <div class="col-12 col-lg-4  d-flex border-gray background-theme  position-relative text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">
          <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">
            <!-- <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 3</div> -->
            <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom" style="color: #31434b">{{data?.lastTitle2}}</div>
            <p>{{data?.lastDescription2}}</p>
            <!-- <a href="#" class="btn btn-transparent-white btn-small border-radius-4" style="border-color: #31434b;color: #31434b"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Read More</a> -->
          </div>
        </div>
        <!-- end features item -->
      </div>
    </div>
  </section>
</section>
<!--<section class="wow fadeIn  bg-light-gray top-space no-padding-bottom" id="auto-ex">-->
<!--  <div class="container-fluid">-->
<!--    <div class="row">-->
<!--      <div class="col-12 col-lg-8  cover-background md-height-700px sm-height-300px">-->
<!--        &lt;!&ndash; <video height="auto" width="100%" autoplay="autoplay" loop muted>-->
<!--          <source src="videos/employee-exp.mp4" type="video/mp4">-->
<!--        </video> &ndash;&gt;-->
<!--        <video autoplay muted loop id="myVideo">-->
<!--          <source src="assets/videos/employee-exp.mp4" type="video/mp4">-->
<!--          Your browser does not support HTML5 video.-->
<!--        </video>-->
<!--      </div>-->
<!--      <div class="col-12 col-lg-4 ">-->
<!--        <div class="padding-10px-all lg-padding-40px-lr md-padding-50px-tb sm-padding-30px-all">-->
<!--          &lt;!&ndash; <img src="images/single-project-03-img2.jpg" class="margin-30px-bottom" alt=""/> &ndash;&gt;-->
<!--          <h3 class="alt-font text-extra-dark-gray font-weight-600 mb-0">EX Employee Experience</h3>-->
<!--          <div class="bg-deep-pink separator-line-horrizontal-full d-inline-block margin-25px-tb"></div>-->
<!--          <p class="width-90 width-100 margin-35px-bottom text-medium line-height-28">Do you want to improve the productivity of your employee training programs? Make your training sessions exciting and engaging with immersive manuals that let employees virtually de-construct and augment machines. Enable them to virtually take apart a vehicle or component to understand its functioning. Empower your employees to learn by doing. Use AR Training to reinvent your approach to employee training and get better results.</p>-->
<!--          &lt;!&ndash; <ul class="list-style-3 text-medium">-->
<!--              <li>Suspendisse </li>-->
<!--              <li>Nullam placerat</li>-->
<!--              <li>Suspendisse posuere</li>-->
<!--          </ul> &ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <section class="wow fadeIn padding-50px-top eight">-->
<!--    <div class="container">-->
<!--      &lt;!&ndash;   <div class="row justify-content-center">-->
<!--            <div class="col-12 col-lg-8 text-center last-paragraph-no-margin">-->
<!--                <h5 class="alt-font text-extra-dark-gray .margin-five-top font-weight-600">Technical Content will be here</h5></div>-->
<!--        </div> &ndash;&gt;-->
<!--      <div class="row margin-50px-top">-->
<!--        &lt;!&ndash; start features box item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4 col-md-6 md-margin-four-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">-->
<!--          <div class="bg-white border-color-extra-medium-gray border text-center  border-radius-4 position-relative h-100 padding-20px-all">-->
<!--            <div class="d-inline-block margin-20px-bottom"><i class="icon-tools text-white-2 icon-round-small bg-deep-pink"></i></div>-->
<!--            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Create 3D Models With AI & Deep Learning Technologies</div>-->
<!--            <p class=" text-justify mx-auto">Easily build 3D models of your assembly lines, machines, or vehicles for your training modules with AR Training. Leverage AI and deep learning algorithms to scan complex geometries of machine parts and merge them to create consistent and realistic AR experiences.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features box item &ndash;&gt;-->
<!--        &lt;!&ndash; start features box item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4 col-md-6 md-margin-four-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">-->
<!--          <div class="bg-white border-color-extra-medium-gray border text-center  border-radius-4 position-relative h-100 padding-20px-all">-->
<!--            <div class="d-inline-block margin-20px-bottom"><i class="icon-layers text-white-2 icon-round-small bg-deep-pink"></i></div>-->
<!--            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Streamline Your Training Program With Advanced Automation Algorithms </div>-->
<!--            <p class=" text-justify mx-auto">Does your enterprise need to create multiple training modules regularly? Are you worried about escalating in-house training costs? Switch to AR Training and use advanced automation algorithms to create multiple training modules easily.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features box item &ndash;&gt;-->
<!--        &lt;!&ndash; start features box item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4 col-md-6 sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">-->
<!--          <div class="bg-white border-color-extra-medium-gray border text-center  border-radius-4 position-relative h-100 padding-20px-all">-->
<!--            <div class="d-inline-block margin-20px-bottom"><i class="icon-scissors text-white-2 icon-round-small bg-deep-pink"></i></div>-->
<!--            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Supports All The Major Cloud Services</div>-->
<!--            <p class=" text-justify mx-auto">AR Training is the best solution for improving the quality of your training programs without increasing the costs. The product supports all the major cloud services and can be seamlessly integrated into your current platform. Enable your employees to receive training remotely on any device through your website.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features box item &ndash;&gt;-->

<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--  <section class="wow fadeIn nine padding-50px-top no-padding-bottom">-->
<!--    <div class="container-fluid">-->
<!--      &lt;!&ndash; <div class="row">-->
<!--        <h5 class="alt-font text-extra-dark-gray font-weight-600">Technical Content will be here</h5>-->
<!--      </div> &ndash;&gt;-->
<!--      <div class="row">-->
<!--        &lt;!&ndash; start features item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4  d-flex border-gray background-theme  position-relative text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">-->
<!--          <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">-->
<!--            &lt;!&ndash; <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 1</div> &ndash;&gt;-->
<!--            <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom" style="color: #31434b">Improved Employee Engagement Than Conventional Collaborative Tools</div>-->
<!--            <p>AR Training increases the involvement of your workforce in the training programs. It enables them to visualize a machine in a way that can never be achieved through instructional videos. They will be able to grasp and retain more knowledge with an immersive learning experience as compared to the traditional methods.</p>-->
<!--            &lt;!&ndash; <a href="#" class="btn btn-transparent-white btn-small border-radius-4" style="border-color: #31434b;color: #31434b"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Read More</a> &ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features item &ndash;&gt;-->
<!--        &lt;!&ndash; start features item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4  d-flex  position-relative bg-extra-dark-gray text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">-->
<!--          <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">-->
<!--            &lt;!&ndash; <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 2</div> &ndash;&gt;-->
<!--            <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom">Conduct Faster Sessions With Improved Efficiency</div>-->
<!--            <p>Conventional enterprise training, even if conducted with traditional remote working tools can be expensive and inefficient. It fails to hold the attention of the users for longer time spans. With AR Training, you are assured of creating an immersive learning experience that is far from boring. Your business will benefit from faster training sessions with increased efficiency.</p>-->
<!--            &lt;!&ndash; <a href="#" class="btn btn-transparent-white btn-small border-radius-4"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Read More</a> &ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features item &ndash;&gt;-->
<!--        &lt;!&ndash; start features item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4  d-flex border-gray background-theme  position-relative text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">-->
<!--          <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">-->
<!--            &lt;!&ndash; <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 3</div> &ndash;&gt;-->
<!--            <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom" style="color: #31434b">Connect With Your Employees On Any Device</div>-->
<!--            <p>AR Training is a web-ready solution. You can offer it to employees through your website. Moreover, your employees don’t need any specific device to access the product. They can enjoy immersive training sessions with the product on any standard smartphone, tablet, laptop, or computer. </p>-->
<!--            &lt;!&ndash; <a href="#" class="btn btn-transparent-white btn-small border-radius-4" style="border-color: #31434b;color: #31434b"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Read More</a> &ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features item &ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--</section>-->
<!--<section class="wow fadeIn  bg-light-gray top-space padding-50px-top no-padding-bottom" id="home-decor">-->
<!--  <div class="container-fluid">-->
<!--    <div class="row">-->
<!--      <div class="col-12 col-lg-8  cover-background md-height-500px sm-height-300px">-->
<!--        &lt;!&ndash; <video height="auto" autoplay="autoplay" loop muted>-->
<!--          <source src="videos/Tanishq AR Try on.mp4" type="video/mp4">-->
<!--        </video> &ndash;&gt;-->
<!--        <video autoplay muted loop id="myVideo">-->
<!--          <source src="assets/videos/adloid-home-decor-final.mp4" type="video/mp4">-->
<!--          Your browser does not support HTML5 video.-->
<!--        </video>-->
<!--      </div>-->
<!--      <div class="col-12 col-lg-4 ">-->
<!--        <div class="padding-10px-all lg-padding-40px-lr md-padding-50px-tb sm-padding-30px-all">-->
<!--          &lt;!&ndash; <img src="images/single-project-03-img2.jpg" class="margin-30px-bottom" alt=""/> &ndash;&gt;-->
<!--          <h3 class="alt-font text-extra-dark-gray font-weight-600 mb-0">CX Home Decor</h3>-->
<!--          <div class="bg-deep-pink separator-line-horrizontal-full d-inline-block margin-25px-tb"></div>-->
<!--          <p class="width-90 width-100 margin-35px-bottom text-medium line-height-28">What if you could take your entire product portfolio into your customer’s living room? CX Home Decor enables you to do just that. It enables your buyers to visualize your furniture products and other home decor items in their space. They can not only visualize your products in their spaces but also personalize them. CX Home Decor provides them with interactive product experiences that clear many of their doubts by letting them try out various combinations. Interior decorators, designers, and architects can use our product instead of multiple tools to create their design concepts easily. </p>-->
<!--          &lt;!&ndash; <ul class="list-style-3 text-medium">-->
<!--              <li>Suspendisse </li>-->
<!--              <li>Nullam placerat</li>-->
<!--              <li>Suspendisse posuere</li>-->
<!--          </ul> &ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <section class="wow fadeIn padding-50px-top eight no-padding-bottom">-->
<!--    <div class="container">-->
<!--      &lt;!&ndash; <div class="row justify-content-center">-->
<!--          <div class="col-12 col-lg-8 text-center last-paragraph-no-margin">-->
<!--              <h5 class="alt-font text-extra-dark-gray .margin-five-top font-weight-600">Technical Content will be here</h5>-->
<!--          </div>-->
<!--      </div> &ndash;&gt;-->
<!--      <div class="row margin-50px-top">-->
<!--        &lt;!&ndash; start features box item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4 col-md-6 md-margin-four-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">-->
<!--          <div class="bg-white border-color-extra-medium-gray border text-center  border-radius-4 position-relative h-100 padding-20px-all">-->
<!--            <div class="d-inline-block margin-20px-bottom"><i class="icon-tools text-white-2 icon-round-small bg-deep-pink"></i></div>-->
<!--            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Simplify Your Design Process With An Integrated Product</div>-->
<!--            <p class=" text-justify mx-auto">With CX Home Decor by your side, you do not need multiple software tools to implement your product experiences strategy. Use it to plan a 2D space and convert the corresponding 3D model. Create engaging experiences of your products or design concepts with a powerful AI engine.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features box item &ndash;&gt;-->
<!--        &lt;!&ndash; start features box item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4 col-md-6 md-margin-four-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">-->
<!--          <div class="bg-white border-color-extra-medium-gray border text-center  border-radius-4 position-relative h-100 padding-20px-all">-->
<!--            <div class="d-inline-block margin-20px-bottom"><i class="icon-layers text-white-2 icon-round-small bg-deep-pink"></i></div>-->
<!--            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Seamlessly Convert 2D To 3D With Deep Learning Algorithms</div>-->
<!--            <p class=" text-justify mx-auto">To create a photo-realistic product experience, you need high quality 2D to 3D conversions of your product visuals. Our product uses deep learning algorithms to create a 3D image of an object. It uses AI algorithms to identify the different geometries of an object and then combine them to create a uniform and true-to-life product experience.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features box item &ndash;&gt;-->
<!--        &lt;!&ndash; start features box item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4 col-md-6 sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">-->
<!--          <div class="bg-white border-color-extra-medium-gray border text-center  border-radius-4 position-relative h-100 padding-20px-all">-->
<!--            <div class="d-inline-block margin-20px-bottom"><i class="icon-scissors text-white-2 icon-round-small bg-deep-pink"></i></div>-->
<!--            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Benefit From A Superior 3D Scanning & Modeling Technology</div>-->
<!--            <p class=" text-justify mx-auto">At the core of CX Home Decor lies advanced 3D scanning and modeling technology. It has been used to create a custom product for the furniture and interior design industries. CX Home Decor relies on AR and ML algorithms to render your products and design ideas into your audiences’ spaces. </p>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features box item &ndash;&gt;-->

<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--  <section class="wow fadeIn nine no-padding-bottom">-->
<!--    <div class="container-fluid">-->
<!--      &lt;!&ndash; <div class="row">-->
<!--        <h5 class="alt-font text-extra-dark-gray font-weight-600">Technical Content will be here</h5>-->
<!--      </div> &ndash;&gt;-->
<!--      <div class="row">-->
<!--        &lt;!&ndash; start features item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4  d-flex border-gray background-theme  position-relative text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">-->
<!--          <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">-->
<!--            &lt;!&ndash; <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 1</div> &ndash;&gt;-->
<!--            <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom" style="color: #31434b">Explore Infinite Possibilities With An Enterprise Scale-Ready Product</div>-->
<!--            <p>CX Home Decor, just like all Adloid AR products, is an enterprise-scale ready solution. It does not matter how many SKUs you have in your inventory, you can create unique experiences for each one of them. With CX Home Decor, you can automate the 3D modeling process to create the experiences quickly.</p>-->
<!--            &lt;!&ndash; <a href="#" class="btn btn-transparent-white btn-small border-radius-4" style="border-color: #31434b;color: #31434b"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Read More</a> &ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features item &ndash;&gt;-->
<!--        &lt;!&ndash; start features item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4  d-flex  position-relative bg-extra-dark-gray text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">-->
<!--          <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">-->
<!--            &lt;!&ndash; <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 2</div> &ndash;&gt;-->
<!--            <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom">Engage Customers With An Easily Accessible Product</div>-->
<!--            <p>Integrate CX Home Decor in your website and you are ready to impress your audiences with immersive visual experiences. You do not need to build a separate mobile app to provide the AR tool to your audiences. Let users access the product and explore different options easily through a web browser on any device.</p>-->
<!--            &lt;!&ndash; <a href="#" class="btn btn-transparent-white btn-small border-radius-4"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Read More</a> &ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features item &ndash;&gt;-->
<!--        &lt;!&ndash; start features item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4  d-flex border-gray background-theme  position-relative text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">-->
<!--          <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">-->
<!--            &lt;!&ndash; <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 3</div> &ndash;&gt;-->
<!--            <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom" style="color: #31434b">Enhance Buyer Experience & In-house Design Process With Our Product </div>-->
<!--            <p>CX Home Decor is the perfect product to engage buyers as well as to ease the design creation process for professionals such as interior decorators. They can visualize changes to the layout of a given space and experiment with different decor items and color schemes. Your enterprise needs only a single tool to engage buyers and streamline the internal design creation process.</p>-->
<!--            &lt;!&ndash; <a href="#" class="btn btn-transparent-white btn-small border-radius-4" style="border-color: #31434b;color: #31434b"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Read More</a> &ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features item &ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--</section>-->
<!--<section class="wow fadeIn padding-50px-bottom bg-light-gray top-space no-padding-bottom" id="face">-->
<!--  <div class="container-fluid">-->
<!--    <div class="row">-->
<!--      <div class="col-12 col-lg-8  cover-background md-height-500px sm-height-300px">-->
<!--        &lt;!&ndash; <video height="auto" autoplay="autoplay" loop muted>-->
<!--          <source src="videos/Tanishq AR Try on.mp4" type="video/mp4">-->
<!--        </video> &ndash;&gt;-->
<!--        <video autoplay muted loop id="myVideo">-->
<!--          <source src="assets/videos/Tanishq AR Try on.mp4" type="video/mp4">-->
<!--          Your browser does not support HTML5 video.-->
<!--        </video>-->
<!--      </div>-->
<!--      <div class="col-12 col-lg-4 ">-->
<!--        <div class="padding-10px-all lg-padding-40px-lr md-padding-50px-tb sm-padding-30px-all">-->
<!--          &lt;!&ndash; <img src="images/single-project-03-img2.jpg" class="margin-30px-bottom" alt=""/> &ndash;&gt;-->
<!--          <h3 class="alt-font text-extra-dark-gray font-weight-600 mb-0">Face</h3>-->
<!--          <div class="bg-deep-pink separator-line-horrizontal-full d-inline-block margin-25px-tb"></div>-->
<!--          <p class="width-90 width-100 margin-35px-bottom text-medium line-height-28">Provide virtual try-ons of beauty, fashion & lifestyle products to your audiences in real-time with amazing precision and accuracy. Take advantage of our product’s superior face tracking, facial analysis, and recognition capabilities to boost your customer engagement. Let users browse and try your entire catalog through any device to choose the right products for themselves.</p>-->
<!--          &lt;!&ndash; <ul class="list-style-3 text-medium">-->
<!--              <li>Suspendisse </li>-->
<!--              <li>Nullam placerat</li>-->
<!--              <li>Suspendisse posuere</li>-->
<!--          </ul> &ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <section class="wow fadeIn padding-50px-top eight" style="padding-bottom: 0px">-->
<!--    <div class="container">-->
<!--      <div class="row margin-50px-top">-->
<!--        &lt;!&ndash; start features box item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4 col-md-6 md-margin-four-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">-->
<!--          <div class="bg-white border-color-extra-medium-gray border text-center  border-radius-4 position-relative h-100 padding-20px-all">-->
<!--            <div class="d-inline-block margin-20px-bottom"><i class="icon-tools text-white-2 icon-round-small bg-deep-pink"></i></div>-->
<!--            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">High-Performance 3D Face Tracking</div>-->
<!--            <p class=" text-justify mx-auto">CX Face generates a 3D mesh model of the face by tracking more than 2000 face coordinates through the camera of a standard device. The product supports face tracking from extreme angles. It’s designed to consume low memory and data without affecting the real-time rendering quality. </p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-12 col-lg-4 col-md-6 md-margin-four-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">-->
<!--          <div class="bg-white border-color-extra-medium-gray border text-center  border-radius-4 position-relative h-100 padding-20px-all">-->
<!--            <div class="d-inline-block margin-20px-bottom"><i class="icon-layers text-white-2 icon-round-small bg-deep-pink"></i></div>-->
<!--            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Powerful Recommendation Engine</div>-->
<!--            <p class=" text-justify mx-auto">Our product is armed with a robust recommendation engine that uses machine learning algorithms to identify patterns in a user’s product interactions. The engine analyses a user’s choices during a try-on session to make relevant suggestions. It personalizes and suggests recommendations based on the mapped user attributes, in real-time.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-12 col-lg-4 col-md-6 sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">-->
<!--          <div class="bg-white border-color-extra-medium-gray border text-center  border-radius-4 position-relative h-100 padding-20px-all">-->
<!--            <div class="d-inline-block margin-20px-bottom"><i class="icon-scissors text-white-2 icon-round-small bg-deep-pink"></i></div>-->
<!--            <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Comprehensive & Accurate Attribute Mapping</div>-->
<!--            <p class=" text-justify mx-auto">CX Face is designed to provide an accurate rendering of a user’s face in real-time. It’s extensive attribute mapping capabilities enable it to detect gender, skin color, hair color, and eyeball color. Apart from the shape, it maps all the critical dimensions of a user’s face like height, width, and size. The product will also remember users’ browsing behavior during a session and make related recommendations in their later visits.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features box item &ndash;&gt;-->

<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--  <section class="wow fadeIn nine">-->
<!--    <div class="container-fluid">-->
<!--      &lt;!&ndash; <div class="row">-->
<!--        <h5 class="alt-font text-extra-dark-gray font-weight-600">Technical Content will be here</h5>-->
<!--      </div> &ndash;&gt;-->
<!--      <div class="row">-->
<!--        &lt;!&ndash; start features item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4  d-flex border-gray background-theme  position-relative text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">-->
<!--          <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">-->
<!--            &lt;!&ndash; <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 1</div> &ndash;&gt;-->
<!--            <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom" style="color: #31434b">Bias-Free Product Experience</div>-->
<!--            <p>We have integrated AI/ ML in our product to remove any possible biases during the end-user experience. It can recognize any skin tone and facial features with great accuracy. Your shoppers will be impressed with the accuracy and clarity of the try-ons. </p>-->
<!--            &lt;!&ndash; <a href="#" class="btn btn-transparent-white btn-small border-radius-4" style="border-color: #31434b;color: #31434b"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Read More</a> &ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features item &ndash;&gt;-->
<!--        &lt;!&ndash; start features item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4  d-flex  position-relative bg-extra-dark-gray text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">-->
<!--          <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">-->
<!--            &lt;!&ndash; <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 2</div> &ndash;&gt;-->
<!--            <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom">Device-Agnostic Web-Ready Solution</div>-->
<!--            <p>You do not need to create a new app or make massive technical changes to provide our product to your audiences. Moreover, your customers do not need to download any new mobile app or acquire a specific device to access our product. CX Face is a web-ready solution that can be easily integrated into your website from where your audiences can access it.</p>-->
<!--            &lt;!&ndash; <a href="#" class="btn btn-transparent-white btn-small border-radius-4"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Read More</a> &ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features item &ndash;&gt;-->
<!--        &lt;!&ndash; start features item &ndash;&gt;-->
<!--        <div class="col-12 col-lg-4  d-flex border-gray background-theme  position-relative text-center text-lg-left wow fadeIn" data-wow-delay="0.2s">-->
<!--          <div class="padding-fifteen-all lg-padding-ten-all sm-padding-30px-all width-100">-->
<!--            &lt;!&ndash; <div class="alt-font text-medium-gray margin-10px-bottom">Value Proposition 3</div> &ndash;&gt;-->
<!--            <div class="alt-font text-extra-large margin-20px-bottom text-white-2 width-90 lg-width-100 sm-margin-15px-bottom" style="color: #31434b">Seamless ERP & BOM Integration</div>-->
<!--            <p>You don’t have to worry about showing out-of-stock items for try-on with CX Face. Integrate it with your ERP application and BOM modules, and it will present only the current catalog to users. Our product supports all the major cloud services and it will integrate seamlessly into your existing platform. Offer an enhanced product experience to your shoppers without any extra investments for accessing new cloud platforms. </p>-->
<!--            &lt;!&ndash; <a href="#" class="btn btn-transparent-white btn-small border-radius-4" style="border-color: #31434b;color: #31434b"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i>Read More</a> &ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end features item &ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--</section>-->
<!--<section class="wow fadeIn seven padding-50px-bottom" style="background-color: #f2f2f2">-->
<!--  <div class="container">-->
<!--    <div class="row justify-content-center">-->
<!--      <div class="col-12 col-xl-12 col-lg-12 text-center"  style="background-color: #f2f2f2;">-->
<!--        <h6 class="font-weight-300 text-extra-dark-gray width-80 mx-auto">We know how curious you are about our products.</h6>-->
<!--        <a routerLink="/submitdetails" class="btn btn-small btn-dark-gray btn-rounded ml-0">Request for Demo</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<app-footer></app-footer>
