<div id="wrapper">
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <app-header></app-header>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Add Contact Data</h6>
                    </div>
          <div class="card-body">
            <form class="user" [formGroup]="addActivityForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <select class="form-control" formControlName="icon">
                    <option disabled selected="selected">Icon</option>
                    <option value="icon-map-pin icon-small text-white-2">Map</option>
                    <option value="icon-envelope icon-small text-white-2">Envelop</option>
                    <option value="icon-chat icon-small text-white-2">Map</option>
                  </select>
                  <div *ngIf="submitted && !!f.icon?.errors">
                    <div *ngIf="!!f.icon?.errors.required" class="text-danger">Icon is required</div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <input type="text" class="form-control" placeholder="Title" formControlName="title">
                  <div *ngIf="submitted && !!f.title?.errors">
                    <div *ngIf="!!f.title?.errors.required" class="text-danger">Title is required</div>
                  </div>
                </div>
                <div class="col-sm-12 mb-3">
                  <textarea class="form-control" placeholder="Description" formControlName="details"></textarea>
                  <div *ngIf="submitted && !!f.details?.errors">
                    <div *ngIf="!!f.details?.errors.required" class="text-danger">Description is required</div>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button class="btn btn-info">Save</button>
              </div>


            </form>
          </div>
        </div>



      </div>
      <!-- /.container-fluid -->




    </div>
    <app-footer></app-footer>
  </div>


</div>
